<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nohu_big_txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{805,552}</string>
                <key>spriteSourceSize</key>
                <string>{805,552}</string>
                <key>textureRect</key>
                <string>{{1467,1},{805,552}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nohu_light_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1464,720}</string>
                <key>spriteSourceSize</key>
                <string>{1464,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1464,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nohu_light_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,186}</string>
                <key>spriteSourceSize</key>
                <string>{186,186}</string>
                <key>textureRect</key>
                <string>{{951,723},{186,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nohu_moneybg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{948,264}</string>
                <key>spriteSourceSize</key>
                <string>{948,264}</string>
                <key>textureRect</key>
                <string>{{1,723},{948,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nohu_small_txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,44}</string>
                <key>spriteSourceSize</key>
                <string>{147,44}</string>
                <key>textureRect</key>
                <string>{{1139,723},{147,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>nohu.png</string>
            <key>size</key>
            <string>{2020,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2c407e9dd17b1604e6c9dd6d7ab8df7:2cbf974f8965dd819c4b64846576788a:a36773a1193e76bc969ae7c6ec36e723$</string>
            <key>textureFileName</key>
            <string>nohu.png</string>
        </dict>
    </dict>
</plist>
