<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bj_21_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{502,0},{200,264}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{200,264}</string>
   </dict>
   <key>bj_discarded_cards_container.png</key>
   <dict>
    <key>frame</key>
    <string>{{392,447},{83,108}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{83,108}</string>
   </dict>
   <key>bj_quac_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,447},{390,386}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{390,386}</string>
   </dict>
   <key>bj_quac_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,447},{390,386}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{390,386}</string>
   </dict>
   <key>bj_xidach_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{500,445}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{500,445}</string>
   </dict>
   <key>bound_avt_tron.png</key>
   <dict>
    <key>frame</key>
    <string>{{502,266},{180,180}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{180,180}</string>
   </dict>
   <key>ig_bg_auto_ready.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,884},{278,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{278,51}</string>
   </dict>
   <key>ig_bg_auto_ready_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{280,884},{278,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{278,51}</string>
   </dict>
   <key>ig_bg_name_money.png</key>
   <dict>
    <key>frame</key>
    <string>{{874,261},{120,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{120,65}</string>
   </dict>
   <key>ig_bg_text.png</key>
   <dict>
    <key>frame</key>
    <string>{{392,703},{106,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{106,56}</string>
   </dict>
   <key>ig_bg_text_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{856,519},{150,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,40}</string>
   </dict>
   <key>ig_bg_text_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{856,561},{145,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{145,37}</string>
   </dict>
   <key>ig_bg_text_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{392,645},{107,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{107,56}</string>
   </dict>
   <key>ig_big_chip_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{704,173},{168,171}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{168,171}</string>
   </dict>
   <key>ig_big_chip_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{704,0},{168,171}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{168,171}</string>
   </dict>
   <key>ig_big_chip_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{704,346},{168,171}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{168,171}</string>
   </dict>
   <key>ig_big_chip_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{502,448},{168,171}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{168,171}</string>
   </dict>
   <key>ig_big_chip_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{502,621},{167,171}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{167,171}</string>
   </dict>
   <key>ig_bigblind_lb.png</key>
   <dict>
    <key>frame</key>
    <string>{{974,461},{38,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{38,38}</string>
   </dict>
   <key>ig_bj_maxbet_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{874,176},{109,83}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{109,83}</string>
   </dict>
   <key>ig_bj_point_bg_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{905,794},{48,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{48,75}</string>
   </dict>
   <key>ig_bj_point_bg_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{924,421},{48,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{48,75}</string>
   </dict>
   <key>ig_bj_point_bg_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{874,421},{48,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{48,75}</string>
   </dict>
   <key>ig_bj_text_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{704,721},{296,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{296,22}</string>
   </dict>
   <key>ig_bj_text_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{502,794},{401,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{401,33}</string>
   </dict>
   <key>ig_bj_text_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,835},{552,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{552,47}</string>
   </dict>
   <key>ig_bj_text_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{874,498},{38,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{38,18}</string>
   </dict>
   <key>ig_btn_bao_quay.png</key>
   <dict>
    <key>frame</key>
    <string>{{704,671},{214,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{214,48}</string>
   </dict>
   <key>ig_bubble_chat.png</key>
   <dict>
    <key>frame</key>
    <string>{{920,671},{40,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{40,40}</string>
   </dict>
   <key>ig_bubble_chat_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{973,600},{40,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{40,40}</string>
   </dict>
   <key>ig_bubble_chat_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{966,377},{40,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{40,40}</string>
   </dict>
   <key>ig_bubble_chat_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{973,642},{40,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{40,40}</string>
   </dict>
   <key>ig_bubble_chat_pointer.png</key>
   <dict>
    <key>frame</key>
    <string>{{477,447},{20,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{20,15}</string>
   </dict>
   <key>ig_bubble_chat_pointer_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{477,464},{20,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{20,15}</string>
   </dict>
   <key>ig_bubble_chat_pointer_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{477,481},{20,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{20,15}</string>
   </dict>
   <key>ig_bubble_chat_pointer_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{477,498},{20,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{20,15}</string>
   </dict>
   <key>ig_chat_line.png</key>
   <dict>
    <key>frame</key>
    <string>{{502,829},{329,3}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{329,3}</string>
   </dict>
   <key>ig_chip_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{955,864},{40,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{40,33}</string>
   </dict>
   <key>ig_chip_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{955,794},{40,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{40,33}</string>
   </dict>
   <key>ig_chip_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{973,684},{40,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{40,33}</string>
   </dict>
   <key>ig_chip_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{955,829},{40,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{40,33}</string>
   </dict>
   <key>ig_chip_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{910,884},{40,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{40,33}</string>
   </dict>
   <key>ig_countdown_text_baosam.png</key>
   <dict>
    <key>frame</key>
    <string>{{866,745},{111,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{111,23}</string>
   </dict>
   <key>ig_countdown_text_bet.png</key>
   <dict>
    <key>frame</key>
    <string>{{722,884},{186,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{186,26}</string>
   </dict>
   <key>ig_countdown_text_gamestart.png</key>
   <dict>
    <key>frame</key>
    <string>{{554,835},{298,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{298,25}</string>
   </dict>
   <key>ig_dealer.png</key>
   <dict>
    <key>frame</key>
    <string>{{874,0},{139,174}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{139,174}</string>
   </dict>
   <key>ig_dealer_lb.png</key>
   <dict>
    <key>frame</key>
    <string>{{854,835},{38,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{38,38}</string>
   </dict>
   <key>ig_dollar.png</key>
   <dict>
    <key>frame</key>
    <string>{{392,557},{70,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{70,86}</string>
   </dict>
   <key>ig_icon_ready.png</key>
   <dict>
    <key>frame</key>
    <string>{{464,557},{35,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{35,32}</string>
   </dict>
   <key>ig_khung_ava.png</key>
   <dict>
    <key>frame</key>
    <string>{{704,519},{150,150}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,150}</string>
   </dict>
   <key>ig_khung_sobai.png</key>
   <dict>
    <key>frame</key>
    <string>{{856,600},{59,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{59,59}</string>
   </dict>
   <key>ig_lose_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{704,745},{160,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{160,37}</string>
   </dict>
   <key>ig_smallblind_lb.png</key>
   <dict>
    <key>frame</key>
    <string>{{974,421},{38,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{38,38}</string>
   </dict>
   <key>ig_text_bocbai.png</key>
   <dict>
    <key>frame</key>
    <string>{{874,377},{90,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{90,42}</string>
   </dict>
   <key>ig_think_bubble.png</key>
   <dict>
    <key>frame</key>
    <string>{{392,761},{70,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{70,70}</string>
   </dict>
   <key>ig_win_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{560,884},{160,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{160,37}</string>
   </dict>
   <key>ig_xocdia_chan_lb.png</key>
   <dict>
    <key>frame</key>
    <string>{{874,328},{123,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{123,47}</string>
   </dict>
   <key>ig_xocdia_le_lb.png</key>
   <dict>
    <key>frame</key>
    <string>{{917,600},{54,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{54,43}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>ingame3.png</string>
  </dict>
 </dict>
</plist>
