<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Card_10B_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{1,1},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_10C_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{1,152},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_10R_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{117,1},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_10T_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{1,303},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_11B_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{117,152},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_11C_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{233,1},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_11R_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{1,454},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_11T_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{117,303},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_12B_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{233,152},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_12C_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{349,1},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_12R_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{1,605},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_12T_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{117,454},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_13B_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{233,303},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_13C_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{349,152},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_13R_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{465,1},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_13T_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{1,756},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_1B_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{117,605},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_1C_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{233,454},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_1R_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{349,303},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_1T_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{465,152},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_2B_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{581,1},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_2C_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{117,756},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_2R_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{1,907},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_2T_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{233,605},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_3B_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{349,454},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_3C_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{465,303},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_3R_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{581,152},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_3T_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{697,1},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_4B_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{233,756},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_4C_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{152,907},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_4R_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{349,605},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_4T_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{465,454},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_5B_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{581,303},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_5C_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{697,152},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_5R_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{813,1},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_5T_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{349,756},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_6B_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{303,907},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_6C_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{465,605},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_6R_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{581,454},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_6T_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{697,303},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_7B_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{813,152},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_7C_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{465,756},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_7R_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{581,605},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_7T_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{697,454},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_8B_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{813,303},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_8C_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{581,756},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_8R_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{454,907},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_8T_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{697,605},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_9B_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{813,454},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_9C_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{697,756},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_9R_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{605,907},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_9T_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{813,605},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cards_blur.png</string>
            <key>size</key>
            <string>{928,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea7024475e79f9bd0e9ab5b330697db7:03928293a262870f41dfe789402513fb:5dd3300ad340e43635ce5268f660c670$</string>
            <key>textureFileName</key>
            <string>cards_blur.png</string>
        </dict>
    </dict>
</plist>
