<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>mnpk_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{728,394}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{728,394}</string>
   </dict>
   <key>mnpk_bg_jackpot_count.png</key>
   <dict>
    <key>frame</key>
    <string>{{267,591},{209,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{209,71}</string>
   </dict>
   <key>mnpk_bg_jackpot_event.png</key>
   <dict>
    <key>frame</key>
    <string>{{267,664},{209,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{209,71}</string>
   </dict>
   <key>mnpk_btn_bet_event_active_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{620,591},{76,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{76,71}</string>
   </dict>
   <key>mnpk_btn_bet_event_active_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{703,542},{76,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{76,71}</string>
   </dict>
   <key>mnpk_btn_bet_event_active_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{542,664},{76,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{76,71}</string>
   </dict>
   <key>mnpk_btn_bet_event_inactive_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{542,591},{76,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{76,71}</string>
   </dict>
   <key>mnpk_btn_bet_event_inactive_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{703,396},{76,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{76,71}</string>
   </dict>
   <key>mnpk_btn_bet_event_inactive_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{703,469},{76,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{76,71}</string>
   </dict>
   <key>mnpk_btn_close.png</key>
   <dict>
    <key>frame</key>
    <string>{{730,183},{59,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{59,59}</string>
   </dict>
   <key>mnpk_btn_history.png</key>
   <dict>
    <key>frame</key>
    <string>{{730,122},{59,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{59,59}</string>
   </dict>
   <key>mnpk_btn_rank.png</key>
   <dict>
    <key>frame</key>
    <string>{{730,61},{59,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{59,59}</string>
   </dict>
   <key>mnpk_btn_rule.png</key>
   <dict>
    <key>frame</key>
    <string>{{730,0},{59,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{59,59}</string>
   </dict>
   <key>mnpk_btnmoney_active.png</key>
   <dict>
    <key>frame</key>
    <string>{{703,615},{75,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{75,56}</string>
   </dict>
   <key>mnpk_btnmoney_inactive.png</key>
   <dict>
    <key>frame</key>
    <string>{{620,664},{76,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{76,56}</string>
   </dict>
   <key>mnpk_lever_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,396},{265,349}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{265,349}</string>
   </dict>
   <key>mnpk_lever_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{478,591},{62,130}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{62,130}</string>
   </dict>
   <key>mnpk_text.png</key>
   <dict>
    <key>frame</key>
    <string>{{267,396},{434,193}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{434,193}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>minipoker-1.png</string>
  </dict>
 </dict>
</plist>
