<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>mnpk_bg_sk.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,192},{287,405}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{287,405}</string>
   </dict>
   <key>mnpk_down1.png</key>
   <dict>
    <key>frame</key>
    <string>{{802,0},{42,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{42,110}</string>
   </dict>
   <key>mnpk_down2.png</key>
   <dict>
    <key>frame</key>
    <string>{{714,0},{42,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{42,110}</string>
   </dict>
   <key>mnpk_down3.png</key>
   <dict>
    <key>frame</key>
    <string>{{670,0},{42,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{42,110}</string>
   </dict>
   <key>mnpk_down4.png</key>
   <dict>
    <key>frame</key>
    <string>{{758,0},{42,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{42,110}</string>
   </dict>
   <key>mnpk_lever_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,599},{265,349}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{265,349}</string>
   </dict>
   <key>mnpk_lever_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,543},{265,349}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{265,349}</string>
   </dict>
   <key>mnpk_lever_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{556,543},{265,349}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{265,349}</string>
   </dict>
   <key>mnpk_lever_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{823,192},{265,349}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{265,349}</string>
   </dict>
   <key>mnpk_lever_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,192},{265,349}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{265,349}</string>
   </dict>
   <key>mnpk_lever_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{823,543},{265,349}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{265,349}</string>
   </dict>
   <key>mnpk_lever_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{556,192},{265,349}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{265,349}</string>
   </dict>
   <key>mnpk_lever_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{556,894},{265,349}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{265,349}</string>
   </dict>
   <key>mnpk_lever_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,894},{265,349}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{265,349}</string>
   </dict>
   <key>mnpk_light.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{668,190}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{668,190}</string>
   </dict>
   <key>mnpk_light1.png</key>
   <dict>
    <key>frame</key>
    <string>{{670,112},{23,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{23,23}</string>
   </dict>
   <key>mnpk_light2.png</key>
   <dict>
    <key>frame</key>
    <string>{{670,137},{23,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{23,23}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>minipoker-2.png</string>
  </dict>
 </dict>
</plist>
