<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sld_bet_chooser_2_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,160}</string>
                <key>spriteSourceSize</key>
                <string>{640,160}</string>
                <key>textureRect</key>
                <string>{{848,1},{640,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sld_bet_chooser_2_fg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{636,156}</string>
                <key>spriteSourceSize</key>
                <string>{636,156}</string>
                <key>textureRect</key>
                <string>{{679,325},{636,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sld_bet_chooser_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,640}</string>
                <key>spriteSourceSize</key>
                <string>{160,640}</string>
                <key>textureRect</key>
                <string>{{848,163},{160,640}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sld_bet_chooser_bg_layer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,845}</string>
                <key>spriteSourceSize</key>
                <string>{279,845}</string>
                <key>textureRect</key>
                <string>{{1,1},{279,845}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sld_bet_chooser_fg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,636}</string>
                <key>spriteSourceSize</key>
                <string>{156,636}</string>
                <key>textureRect</key>
                <string>{{1317,325},{156,636}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sld_bet_chooser_fg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,676}</string>
                <key>spriteSourceSize</key>
                <string>{196,676}</string>
                <key>textureRect</key>
                <string>{{1,282},{196,676}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sld_bet_chooser_pointer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,64}</string>
                <key>spriteSourceSize</key>
                <string>{82,64}</string>
                <key>textureRect</key>
                <string>{{1490,1},{82,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sld_bet_chooser_pointer_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,79}</string>
                <key>spriteSourceSize</key>
                <string>{10,79}</string>
                <key>textureRect</key>
                <string>{{679,282},{10,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>slider.png</string>
            <key>size</key>
            <string>{1954,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b655b4905e30b9d92ac735e150e91e40:17b3a96cf8a8e3a7a46f049bb9af26bf:273a8e5045163d65821a36497e0feb57$</string>
            <key>textureFileName</key>
            <string>slider.png</string>
        </dict>
    </dict>
</plist>
