<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bj_quac_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{390,386}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{390,386}</string>
   </dict>
   <key>bj_quac_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1164},{390,386}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{390,386}</string>
   </dict>
   <key>bj_quac_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{1176,0},{390,386}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{390,386}</string>
   </dict>
   <key>bj_quac_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{392,1164},{390,386}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{390,386}</string>
   </dict>
   <key>bj_quac_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{1176,388},{390,386}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{390,386}</string>
   </dict>
   <key>bj_quac_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{784,1164},{390,386}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{390,386}</string>
   </dict>
   <key>bj_quac_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{1176,776},{390,386}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{390,386}</string>
   </dict>
   <key>bj_quac_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1552},{390,386}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{390,386}</string>
   </dict>
   <key>bj_quac_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{1568,0},{390,386}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{390,386}</string>
   </dict>
   <key>bj_quac_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,388},{390,386}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{390,386}</string>
   </dict>
   <key>bj_quac_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{392,1552},{390,386}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{390,386}</string>
   </dict>
   <key>bj_quac_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{1568,388},{390,386}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{390,386}</string>
   </dict>
   <key>bj_quac_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{1176,1164},{390,386}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{390,386}</string>
   </dict>
   <key>bj_quac_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{784,1552},{390,386}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{390,386}</string>
   </dict>
   <key>bj_quac_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{1568,776},{390,386}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{390,386}</string>
   </dict>
   <key>bj_quac_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{1176,1552},{390,386}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{390,386}</string>
   </dict>
   <key>bj_quac_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{1568,1164},{390,386}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{390,386}</string>
   </dict>
   <key>bj_quac_27.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{390,386}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{390,386}</string>
   </dict>
   <key>bj_quac_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{392,0},{390,386}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{390,386}</string>
   </dict>
   <key>bj_quac_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{392,388},{390,386}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{390,386}</string>
   </dict>
   <key>bj_quac_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,776},{390,386}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{390,386}</string>
   </dict>
   <key>bj_quac_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{784,0},{390,386}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{390,386}</string>
   </dict>
   <key>bj_quac_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{392,776},{390,386}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{390,386}</string>
   </dict>
   <key>bj_quac_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{784,388},{390,386}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{390,386}</string>
   </dict>
   <key>bj_quac_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{784,776},{390,386}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{390,386}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>bj_quac.png</string>
  </dict>
 </dict>
</plist>
