<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gffx_3doithong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,93}</string>
                <key>spriteSourceSize</key>
                <string>{151,93}</string>
                <key>textureRect</key>
                <string>{{781,242},{151,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gffx_3sanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,61}</string>
                <key>spriteSourceSize</key>
                <string>{177,61}</string>
                <key>textureRect</key>
                <string>{{1,386},{177,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gffx_3thung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,63}</string>
                <key>spriteSourceSize</key>
                <string>{222,63}</string>
                <key>textureRect</key>
                <string>{{1,321},{222,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gffx_4doithong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,93}</string>
                <key>spriteSourceSize</key>
                <string>{151,93}</string>
                <key>textureRect</key>
                <string>{{781,337},{151,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gffx_5doi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,63}</string>
                <key>spriteSourceSize</key>
                <string>{170,63}</string>
                <key>textureRect</key>
                <string>{{463,375},{170,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gffx_5doi1xam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,132}</string>
                <key>spriteSourceSize</key>
                <string>{251,132}</string>
                <key>textureRect</key>
                <string>{{321,223},{251,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gffx_6doi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,64}</string>
                <key>spriteSourceSize</key>
                <string>{171,64}</string>
                <key>textureRect</key>
                <string>{{290,357},{171,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gffx_anga.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,131}</string>
                <key>spriteSourceSize</key>
                <string>{205,131}</string>
                <key>textureRect</key>
                <string>{{574,242},{205,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gffx_binhlung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,63}</string>
                <key>spriteSourceSize</key>
                <string>{116,63}</string>
                <key>textureRect</key>
                <string>{{225,321},{116,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gffx_donghoa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,89}</string>
                <key>spriteSourceSize</key>
                <string>{331,89}</string>
                <key>textureRect</key>
                <string>{{655,151},{331,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gffx_glow2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,318}</string>
                <key>spriteSourceSize</key>
                <string>{318,318}</string>
                <key>textureRect</key>
                <string>{{1,1},{318,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gffx_sanhrong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,148}</string>
                <key>spriteSourceSize</key>
                <string>{331,148}</string>
                <key>textureRect</key>
                <string>{{655,1},{331,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gffx_sanhrongdonghoa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,220}</string>
                <key>spriteSourceSize</key>
                <string>{332,220}</string>
                <key>textureRect</key>
                <string>{{321,1},{332,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gffx_tuquy_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,49}</string>
                <key>spriteSourceSize</key>
                <string>{156,49}</string>
                <key>textureRect</key>
                <string>{{934,242},{156,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameFinishFx.png</string>
            <key>size</key>
            <string>{987,448}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbfe23e2bde5317b0217b3689d5e87ab:81400953615a91abcba0efcf566869b0:f199597be9a3db2577b0c3204d4daeea$</string>
            <key>textureFileName</key>
            <string>gameFinishFx.png</string>
        </dict>
    </dict>
</plist>
