<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>g_bg_text.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,56}</string>
    <key>spriteSourceSize</key>
    <string>{106,56}</string>
    <key>textureRect</key>
    <string>{{333,94},{106,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>g_bg_text_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{150,40}</string>
    <key>spriteSourceSize</key>
    <string>{150,40}</string>
    <key>textureRect</key>
    <string>{{152,52},{150,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>g_bg_text_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{145,37}</string>
    <key>spriteSourceSize</key>
    <string>{145,37}</string>
    <key>textureRect</key>
    <string>{{224,152},{145,37}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>g_bg_text_4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{107,56}</string>
    <key>spriteSourceSize</key>
    <string>{107,56}</string>
    <key>textureRect</key>
    <string>{{224,94},{107,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lb_bg_thong_bao.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{834,50}</string>
    <key>spriteSourceSize</key>
    <string>{834,50}</string>
    <key>textureRect</key>
    <string>{{0,0},{834,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lb_dollar.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{70,86}</string>
    <key>spriteSourceSize</key>
    <string>{70,86}</string>
    <key>textureRect</key>
    <string>{{152,94},{70,86}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lb_khung_ava.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{150,150}</string>
    <key>spriteSourceSize</key>
    <string>{150,150}</string>
    <key>textureRect</key>
    <string>{{0,52},{150,150}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{836,204}</string>
   <key>textureFileName</key>
   <string>lobby_web.png</string>
  </dict>
 </dict>
</plist>
