<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>thantai_bangthuong_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{735,438}</string>
                <key>spriteSourceSize</key>
                <string>{735,438}</string>
                <key>textureRect</key>
                <string>{{1055,1},{735,438}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thantai_bangthuong_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{831,442}</string>
                <key>spriteSourceSize</key>
                <string>{831,442}</string>
                <key>textureRect</key>
                <string>{{1,623},{831,442}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thantai_bangthuong_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{815,419}</string>
                <key>spriteSourceSize</key>
                <string>{815,419}</string>
                <key>textureRect</key>
                <string>{{445,623},{815,419}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thantai_bangthuong_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{755,410}</string>
                <key>spriteSourceSize</key>
                <string>{755,410}</string>
                <key>textureRect</key>
                <string>{{866,623},{755,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thantai_bangthuong_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1052,620}</string>
                <key>spriteSourceSize</key>
                <string>{1052,620}</string>
                <key>textureRect</key>
                <string>{{1,1},{1052,620}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thantai_bangthuong_btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,78}</string>
                <key>spriteSourceSize</key>
                <string>{227,78}</string>
                <key>textureRect</key>
                <string>{{1780,441},{227,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thantai_bangthuong_btn_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{1780,670},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thantai_bangthuong_btn_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{1780,750},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thantai_icon_amthanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{866,1380},{57,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thantai_icon_bangvinhdanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{866,1380},{57,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thantai_icon_lsgd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{866,1380},{57,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thantai_icon_lshu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{866,1380},{57,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thantai_setting_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{944,500}</string>
                <key>spriteSourceSize</key>
                <string>{944,500}</string>
                <key>textureRect</key>
                <string>{{1278,441},{944,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thantai_setting_btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,78}</string>
                <key>spriteSourceSize</key>
                <string>{227,78}</string>
                <key>textureRect</key>
                <string>{{1780,441},{227,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thantai_tick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,25}</string>
                <key>spriteSourceSize</key>
                <string>{31,25}</string>
                <key>textureRect</key>
                <string>{{1792,1},{31,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thantai_untick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,34}</string>
                <key>spriteSourceSize</key>
                <string>{37,34}</string>
                <key>textureRect</key>
                <string>{{1055,441},{37,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>slots_thantai_bangthuong.png</string>
            <key>size</key>
            <string>{1859,1455}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e799c34ff2d0e60f7b6e5b8636a4367:b4e1cb84f8f00a8adf70a9c551e5ec91:402d8865566238ef0e65d324c310f19a$</string>
            <key>textureFileName</key>
            <string>slots_thantai_bangthuong.png</string>
        </dict>
    </dict>
</plist>
