<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>thantai_bg_mng_text_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{1567,1801},{57,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thantai_bg_mng_text_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{1567,1801},{57,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thantai_mng_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{834,431}</string>
                <key>spriteSourceSize</key>
                <string>{834,431}</string>
                <key>textureRect</key>
                <string>{{1055,723},{834,431}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thantai_mng_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1560,720}</string>
                <key>spriteSourceSize</key>
                <string>{1560,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1560,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thantai_mng_bg_thongbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{681,240}</string>
                <key>spriteSourceSize</key>
                <string>{681,240}</string>
                <key>textureRect</key>
                <string>{{941,1559},{681,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thantai_mng_btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,56}</string>
                <key>spriteSourceSize</key>
                <string>{163,56}</string>
                <key>textureRect</key>
                <string>{{1563,1},{163,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thantai_mng_rw_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,103}</string>
                <key>spriteSourceSize</key>
                <string>{136,103}</string>
                <key>textureRect</key>
                <string>{{941,1345},{136,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thantai_mng_rw_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{1567,1801},{57,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thantai_mng_rw_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{1567,1801},{57,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thantai_mng_rw_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{1567,1801},{57,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thantai_mng_rw_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{1567,1801},{57,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thantai_top_bg_minigame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,85}</string>
                <key>spriteSourceSize</key>
                <string>{1280,85}</string>
                <key>textureRect</key>
                <string>{{1,1849},{1280,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thantai_x2_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{938,502}</string>
                <key>spriteSourceSize</key>
                <string>{938,502}</string>
                <key>textureRect</key>
                <string>{{1,1345},{938,502}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thantai_x2_bg_dathang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,89}</string>
                <key>spriteSourceSize</key>
                <string>{140,89}</string>
                <key>textureRect</key>
                <string>{{1283,1801},{140,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thantai_x2_bg_x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,88}</string>
                <key>spriteSourceSize</key>
                <string>{140,88}</string>
                <key>textureRect</key>
                <string>{{1425,1801},{140,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thantai_x2_btn_item_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,166}</string>
                <key>spriteSourceSize</key>
                <string>{124,166}</string>
                <key>textureRect</key>
                <string>{{1488,952},{124,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thantai_x2_continue_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,63}</string>
                <key>spriteSourceSize</key>
                <string>{140,63}</string>
                <key>textureRect</key>
                <string>{{1553,1273},{140,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thantai_x2_huongdan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{1567,1801},{57,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thantai_x2_huongdan_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1052,620}</string>
                <key>spriteSourceSize</key>
                <string>{1052,620}</string>
                <key>textureRect</key>
                <string>{{1,723},{1052,620}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thantai_x2_huongdan_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,63}</string>
                <key>spriteSourceSize</key>
                <string>{170,63}</string>
                <key>textureRect</key>
                <string>{{1488,1273},{170,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thantai_x2_huongdan_btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,78}</string>
                <key>spriteSourceSize</key>
                <string>{227,78}</string>
                <key>textureRect</key>
                <string>{{1488,723},{227,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thantai_x2_item_open0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,103}</string>
                <key>spriteSourceSize</key>
                <string>{136,103}</string>
                <key>textureRect</key>
                <string>{{941,1345},{136,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thantai_x2_item_open1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,120}</string>
                <key>spriteSourceSize</key>
                <string>{151,120}</string>
                <key>textureRect</key>
                <string>{{1488,1120},{151,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thantai_x2_stop_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,63}</string>
                <key>spriteSourceSize</key>
                <string>{140,63}</string>
                <key>textureRect</key>
                <string>{{1553,1415},{140,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>slots_thantai_minigame.png</string>
            <key>size</key>
            <string>{1623,1935}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19b5482eea6ff4ff283b3cd92e95e9d2:e0865ebe6e5305d7510b5ed314ac45eb:d0100c5d9b2d03428744a4ba9db16f2b$</string>
            <key>textureFileName</key>
            <string>slots_thantai_minigame.png</string>
        </dict>
    </dict>
</plist>
