<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>thantai_bg_countdown_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{802,1034},{470,83}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{470,83}</string>
   </dict>
   <key>thantai_bg_countdown_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{802,1198},{100,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{100,29}</string>
   </dict>
   <key>thantai_bg_freespins.png</key>
   <dict>
    <key>frame</key>
    <string>{{187,1713},{365,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{365,41}</string>
   </dict>
   <key>thantai_bg_jackpot.png</key>
   <dict>
    <key>frame</key>
    <string>{{802,1119},{403,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{403,77}</string>
   </dict>
   <key>thantai_bg_jackpot_count.png</key>
   <dict>
    <key>frame</key>
    <string>{{1622,883},{208,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{208,58}</string>
   </dict>
   <key>thantai_bg_jackpot_event.png</key>
   <dict>
    <key>frame</key>
    <string>{{1622,883},{208,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{208,58}</string>
   </dict>
   <key>thantai_bg_mng_reward.png</key>
   <dict>
    <key>frame</key>
    <string>{{1848,294},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>thantai_bg_napcoin.png</key>
   <dict>
    <key>frame</key>
    <string>{{1412,704},{402,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{402,72}</string>
   </dict>
   <key>thantai_bg_play_trial.png</key>
   <dict>
    <key>frame</key>
    <string>{{1274,1191},{147,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{147,41}</string>
   </dict>
   <key>thantai_bg_sk.png</key>
   <dict>
    <key>frame</key>
    <string>{{1162,0},{287,405}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{287,405}</string>
   </dict>
   <key>thantai_bg_slots.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,534},{1053,498}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1053,498}</string>
   </dict>
   <key>thantai_bg_slots_fg.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{1160,532}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1160,532}</string>
   </dict>
   <key>thantai_bg_so_dong.png</key>
   <dict>
    <key>frame</key>
    <string>{{1550,1034},{256,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{256,72}</string>
   </dict>
   <key>thantai_bg_so_phong.png</key>
   <dict>
    <key>frame</key>
    <string>{{1694,953},{125,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{125,72}</string>
   </dict>
   <key>thantai_bg_thongtin.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1236},{1278,107}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1278,107}</string>
   </dict>
   <key>thantai_bottom.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1450},{1268,101}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1268,101}</string>
   </dict>
   <key>thantai_btn_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1644,172},{100,256}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{100,256}</string>
   </dict>
   <key>thantai_btn_0_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1280,1236},{100,256}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{100,256}</string>
   </dict>
   <key>thantai_btn_back.png</key>
   <dict>
    <key>frame</key>
    <string>{{1448,1034},{100,256}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{100,256}</string>
   </dict>
   <key>thantai_btn_bangthuong.png</key>
   <dict>
    <key>frame</key>
    <string>{{1746,172},{100,256}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{100,256}</string>
   </dict>
   <key>thantai_btn_bet_event_active_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{740,1694},{144,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{144,60}</string>
   </dict>
   <key>thantai_btn_bet_event_active_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{565,1691},{144,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{144,60}</string>
   </dict>
   <key>thantai_btn_bet_event_active_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1225,742},{144,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{144,60}</string>
   </dict>
   <key>thantai_btn_bet_event_inactive_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{740,1694},{144,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{144,60}</string>
   </dict>
   <key>thantai_btn_bet_event_inactive_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{565,1691},{144,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{144,60}</string>
   </dict>
   <key>thantai_btn_bet_event_inactive_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1225,742},{144,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{144,60}</string>
   </dict>
   <key>thantai_btn_dung.png</key>
   <dict>
    <key>frame</key>
    <string>{{1622,809},{256,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{256,72}</string>
   </dict>
   <key>thantai_btn_lsgd.png</key>
   <dict>
    <key>frame</key>
    <string>{{1382,1236},{62,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{62,60}</string>
   </dict>
   <key>thantai_btn_naptien.png</key>
   <dict>
    <key>frame</key>
    <string>{{1848,294},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>thantai_btn_quay.png</key>
   <dict>
    <key>frame</key>
    <string>{{740,1619},{256,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{256,73}</string>
   </dict>
   <key>thantai_btn_settings.png</key>
   <dict>
    <key>frame</key>
    <string>{{1644,430},{100,256}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{100,256}</string>
   </dict>
   <key>thantai_btn_sieutoc.png</key>
   <dict>
    <key>frame</key>
    <string>{{1708,1543},{126,83}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{126,83}</string>
   </dict>
   <key>thantai_btn_sieutoc2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1591,1666},{126,83}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{126,83}</string>
   </dict>
   <key>thantai_btn_vinhdanh.png</key>
   <dict>
    <key>frame</key>
    <string>{{1848,351},{54,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{54,54}</string>
   </dict>
   <key>thantai_btn_x2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1439,1666},{150,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,75}</string>
   </dict>
   <key>thantai_icon_jackpot.png</key>
   <dict>
    <key>frame</key>
    <string>{{1848,294},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>thantai_line_numb_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1848,294},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>thantai_line_numb_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1848,294},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>thantai_mng_btn_item_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1596,1427},{126,114}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{126,114}</string>
   </dict>
   <key>thantai_mng_btn_item_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1596,1292},{111,133}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{111,133}</string>
   </dict>
   <key>thantai_mng_btn_item_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{1816,704},{89,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{89,98}</string>
   </dict>
   <key>thantai_mng_btn_item_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{1036,1553},{137,129}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{137,129}</string>
   </dict>
   <key>thantai_mng_btn_item_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1832,883},{89,133}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{89,133}</string>
   </dict>
   <key>thantai_mng_btn_item_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1448,1292},{146,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{146,112}</string>
   </dict>
   <key>thantai_mng_btn_item_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1298,1553},{135,111}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{135,111}</string>
   </dict>
   <key>thantai_mng_btn_item_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1808,1160},{119,115}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{119,115}</string>
   </dict>
   <key>thantai_mng_btn_item_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{1175,1553},{121,132}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{121,132}</string>
   </dict>
   <key>thantai_mng_btn_item_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{1724,1427},{123,106}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{123,106}</string>
   </dict>
   <key>thantai_mng_btn_item_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{1298,1666},{139,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{139,82}</string>
   </dict>
   <key>thantai_mng_btn_item_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{1709,1292},{130,108}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{130,108}</string>
   </dict>
   <key>thantai_mng_btn_start.png</key>
   <dict>
    <key>frame</key>
    <string>{{1848,294},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>thantai_multi_rate_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{1848,294},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>thantai_nohu.png</key>
   <dict>
    <key>frame</key>
    <string>{{1055,534},{168,273}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{168,273}</string>
   </dict>
   <key>thantai_nohu_light.png</key>
   <dict>
    <key>frame</key>
    <string>{{1848,294},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>thantai_numb_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1162,506},{7,7}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{7,7}</string>
   </dict>
   <key>thantai_symbol_1_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1451,0},{191,195}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{191,195}</string>
   </dict>
   <key>thantai_symbol_1_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1451,197},{190,186}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{190,186}</string>
   </dict>
   <key>thantai_symbol_1_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{187,1553},{191,158}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{191,158}</string>
   </dict>
   <key>thantai_symbol_1_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{565,1553},{173,136}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{173,136}</string>
   </dict>
   <key>thantai_symbol_1_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1436,809},{184,142}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{184,142}</string>
   </dict>
   <key>thantai_symbol_1_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1448,1406},{121,126}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{121,126}</string>
   </dict>
   <key>thantai_symbol_1_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1808,1034},{116,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{116,124}</string>
   </dict>
   <key>thantai_symbol_1_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{1448,1534},{116,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{116,124}</string>
   </dict>
   <key>thantai_symbol_1_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{1596,1543},{110,119}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{110,119}</string>
   </dict>
   <key>thantai_symbol_1_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{1746,579},{142,117}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{142,117}</string>
   </dict>
   <key>thantai_symbol_1_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{1412,534},{191,168}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{191,168}</string>
   </dict>
   <key>thantai_symbol_2_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1451,0},{191,195}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{191,195}</string>
   </dict>
   <key>thantai_symbol_2_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1451,197},{190,186}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{190,186}</string>
   </dict>
   <key>thantai_symbol_2_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{187,1553},{191,158}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{191,158}</string>
   </dict>
   <key>thantai_symbol_2_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{565,1553},{173,136}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{173,136}</string>
   </dict>
   <key>thantai_symbol_2_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1436,809},{184,142}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{184,142}</string>
   </dict>
   <key>thantai_symbol_2_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1448,1406},{121,126}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{121,126}</string>
   </dict>
   <key>thantai_symbol_2_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1808,1034},{116,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{116,124}</string>
   </dict>
   <key>thantai_symbol_2_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{1448,1534},{116,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{116,124}</string>
   </dict>
   <key>thantai_symbol_2_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{1596,1543},{110,119}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{110,119}</string>
   </dict>
   <key>thantai_symbol_2_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{1746,579},{142,117}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{142,117}</string>
   </dict>
   <key>thantai_symbol_2_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{1412,534},{191,168}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{191,168}</string>
   </dict>
   <key>thantai_symbol_3_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1451,0},{191,195}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{191,195}</string>
   </dict>
   <key>thantai_symbol_3_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1451,197},{190,186}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{190,186}</string>
   </dict>
   <key>thantai_symbol_3_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{187,1553},{191,158}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{191,158}</string>
   </dict>
   <key>thantai_symbol_3_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{565,1553},{173,136}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{173,136}</string>
   </dict>
   <key>thantai_symbol_3_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1436,809},{184,142}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{184,142}</string>
   </dict>
   <key>thantai_symbol_3_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1448,1406},{121,126}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{121,126}</string>
   </dict>
   <key>thantai_symbol_3_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1808,1034},{116,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{116,124}</string>
   </dict>
   <key>thantai_symbol_3_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{1448,1534},{116,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{116,124}</string>
   </dict>
   <key>thantai_symbol_3_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{1596,1543},{110,119}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{110,119}</string>
   </dict>
   <key>thantai_symbol_3_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{1746,579},{142,117}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{142,117}</string>
   </dict>
   <key>thantai_symbol_3_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{1412,534},{191,168}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{191,168}</string>
   </dict>
   <key>thantai_symbol_blur_1_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1225,534},{185,206}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,206}</string>
   </dict>
   <key>thantai_symbol_blur_1_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1055,809},{190,205}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{190,205}</string>
   </dict>
   <key>thantai_symbol_blur_1_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1553},{185,170}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,170}</string>
   </dict>
   <key>thantai_symbol_blur_1_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1274,1034},{172,155}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{172,155}</string>
   </dict>
   <key>thantai_symbol_blur_1_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{380,1553},{183,151}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{183,151}</string>
   </dict>
   <key>thantai_symbol_blur_1_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1746,430},{122,147}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{122,147}</string>
   </dict>
   <key>thantai_symbol_blur_1_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1801,0},{117,145}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{117,145}</string>
   </dict>
   <key>thantai_symbol_blur_1_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{1550,1108},{117,145}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{117,145}</string>
   </dict>
   <key>thantai_symbol_blur_1_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{1669,1108},{112,139}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{112,139}</string>
   </dict>
   <key>thantai_symbol_blur_1_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{1644,0},{155,170}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{155,170}</string>
   </dict>
   <key>thantai_symbol_blur_1_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{1247,809},{187,181}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{187,181}</string>
   </dict>
   <key>thantai_symbol_blur_2_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1225,534},{185,206}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,206}</string>
   </dict>
   <key>thantai_symbol_blur_2_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1055,809},{190,205}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{190,205}</string>
   </dict>
   <key>thantai_symbol_blur_2_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1553},{185,170}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,170}</string>
   </dict>
   <key>thantai_symbol_blur_2_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1274,1034},{172,155}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{172,155}</string>
   </dict>
   <key>thantai_symbol_blur_2_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{380,1553},{183,151}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{183,151}</string>
   </dict>
   <key>thantai_symbol_blur_2_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1746,430},{122,147}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{122,147}</string>
   </dict>
   <key>thantai_symbol_blur_2_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1801,0},{117,145}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{117,145}</string>
   </dict>
   <key>thantai_symbol_blur_2_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{1550,1108},{117,145}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{117,145}</string>
   </dict>
   <key>thantai_symbol_blur_2_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{1669,1108},{112,139}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{112,139}</string>
   </dict>
   <key>thantai_symbol_blur_2_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{1644,0},{155,170}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{155,170}</string>
   </dict>
   <key>thantai_symbol_blur_2_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{1247,809},{187,181}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{187,181}</string>
   </dict>
   <key>thantai_symbol_blur_3_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1225,534},{185,206}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,206}</string>
   </dict>
   <key>thantai_symbol_blur_3_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1055,809},{190,205}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{190,205}</string>
   </dict>
   <key>thantai_symbol_blur_3_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1553},{185,170}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,170}</string>
   </dict>
   <key>thantai_symbol_blur_3_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1274,1034},{172,155}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{172,155}</string>
   </dict>
   <key>thantai_symbol_blur_3_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{380,1553},{183,151}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{183,151}</string>
   </dict>
   <key>thantai_symbol_blur_3_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1746,430},{122,147}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{122,147}</string>
   </dict>
   <key>thantai_symbol_blur_3_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1801,0},{117,145}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{117,145}</string>
   </dict>
   <key>thantai_symbol_blur_3_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{1550,1108},{117,145}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{117,145}</string>
   </dict>
   <key>thantai_symbol_blur_3_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{1669,1108},{112,139}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{112,139}</string>
   </dict>
   <key>thantai_symbol_blur_3_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{1644,0},{155,170}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{155,170}</string>
   </dict>
   <key>thantai_symbol_blur_3_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{1247,809},{187,181}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{187,181}</string>
   </dict>
   <key>thantai_thanglon.png</key>
   <dict>
    <key>frame</key>
    <string>{{1848,172},{74,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{74,120}</string>
   </dict>
   <key>thantai_top_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1345},{1258,103}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1258,103}</string>
   </dict>
   <key>thantai_trunggold.png</key>
   <dict>
    <key>frame</key>
    <string>{{740,1553},{294,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{294,64}</string>
   </dict>
   <key>thantai_tuquay_progress.png</key>
   <dict>
    <key>frame</key>
    <string>{{1436,953},{256,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{256,73}</string>
   </dict>
   <key>thantai_win_bg_freespin.png</key>
   <dict>
    <key>frame</key>
    <string>{{1848,294},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>thantai_win_bg_gold.png</key>
   <dict>
    <key>frame</key>
    <string>{{1162,407},{456,97}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{456,97}</string>
   </dict>
   <key>thantai_win_free_spin.png</key>
   <dict>
    <key>frame</key>
    <string>{{1207,1119},{57,93}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,93}</string>
   </dict>
   <key>thantai_win_jackpot_bg_gold.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1034},{800,200}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{800,200}</string>
   </dict>
   <key>thantai_win_light.png</key>
   <dict>
    <key>frame</key>
    <string>{{1848,294},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>slots_thantai.png</string>
  </dict>
 </dict>
</plist>
