<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bj_xidach_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{500,445}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{500,445}</string>
   </dict>
   <key>bj_xidach_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{1004,894},{500,445}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{500,445}</string>
   </dict>
   <key>bj_xidach_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{502,1341},{500,445}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{500,445}</string>
   </dict>
   <key>bj_xidach_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{1506,0},{500,445}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{500,445}</string>
   </dict>
   <key>bj_xidach_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{1506,447},{500,445}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{500,445}</string>
   </dict>
   <key>bj_xidach_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{1004,1341},{500,445}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{500,445}</string>
   </dict>
   <key>bj_xidach_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{1506,894},{500,445}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{500,445}</string>
   </dict>
   <key>bj_xidach_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1788},{500,445}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{500,445}</string>
   </dict>
   <key>bj_xidach_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{502,1788},{500,445}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{500,445}</string>
   </dict>
   <key>bj_xidach_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{2008,0},{500,445}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{500,445}</string>
   </dict>
   <key>bj_xidach_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{1506,1341},{500,445}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{500,445}</string>
   </dict>
   <key>bj_xidach_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,447},{500,445}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{500,445}</string>
   </dict>
   <key>bj_xidach_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{1004,1788},{500,445}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{500,445}</string>
   </dict>
   <key>bj_xidach_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{2008,447},{500,445}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{500,445}</string>
   </dict>
   <key>bj_xidach_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{2008,894},{500,445}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{500,445}</string>
   </dict>
   <key>bj_xidach_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{502,0},{500,445}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{500,445}</string>
   </dict>
   <key>bj_xidach_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{502,447},{500,445}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{500,445}</string>
   </dict>
   <key>bj_xidach_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,894},{500,445}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{500,445}</string>
   </dict>
   <key>bj_xidach_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{1004,0},{500,445}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{500,445}</string>
   </dict>
   <key>bj_xidach_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{502,894},{500,445}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{500,445}</string>
   </dict>
   <key>bj_xidach_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{1004,447},{500,445}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{500,445}</string>
   </dict>
   <key>bj_xidach_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1341},{500,445}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{500,445}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>bj_xidach.png</string>
  </dict>
 </dict>
</plist>
