<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>mng_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{400,400}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,400}</string>
   </dict>
   <key>mng_btn.png</key>
   <dict>
    <key>frame</key>
    <string>{{271,402},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{100,100}</string>
   </dict>
   <key>mng_btn_small.png</key>
   <dict>
    <key>frame</key>
    <string>{{271,402},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{100,100}</string>
   </dict>
   <key>mng_btnfx.png</key>
   <dict>
    <key>frame</key>
    <string>{{109,553},{96,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{96,98}</string>
   </dict>
   <key>mng_caothap.png</key>
   <dict>
    <key>frame</key>
    <string>{{402,554},{78,89}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{78,89}</string>
   </dict>
   <key>mng_dball.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,553},{107,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{107,90}</string>
   </dict>
   <key>mng_minipoker.png</key>
   <dict>
    <key>frame</key>
    <string>{{500,463},{99,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{99,77}</string>
   </dict>
   <key>mng_taixiu.png</key>
   <dict>
    <key>frame</key>
    <string>{{402,463},{96,89}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{96,89}</string>
   </dict>
   <key>mng_timebg.png</key>
   <dict>
    <key>frame</key>
    <string>{{207,553},{40,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{40,40}</string>
   </dict>
   <key>mng_trungphucsinh.png</key>
   <dict>
    <key>frame</key>
    <string>{{482,554},{87,79}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{87,79}</string>
   </dict>
   <key>top_jackpot_bet_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,502},{231,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{231,49}</string>
   </dict>
   <key>top_jackpot_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{402,0},{282,461}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{282,461}</string>
   </dict>
   <key>top_jackpot_btn.png</key>
   <dict>
    <key>frame</key>
    <string>{{271,504},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{100,100}</string>
   </dict>
   <key>top_jackpot_btn_active.png</key>
   <dict>
    <key>frame</key>
    <string>{{571,554},{87,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{87,42}</string>
   </dict>
   <key>top_jackpot_btn_inactive.png</key>
   <dict>
    <key>frame</key>
    <string>{{271,606},{87,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{87,42}</string>
   </dict>
   <key>top_jackpot_btn_mark.png</key>
   <dict>
    <key>frame</key>
    <string>{{601,463},{80,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{80,80}</string>
   </dict>
   <key>top_jackpot_event_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,402},{269,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{269,98}</string>
   </dict>
   <key>top_jackpot_separator.png</key>
   <dict>
    <key>frame</key>
    <string>{{402,645},{231,3}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{231,3}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>minigame.png</string>
  </dict>
 </dict>
</plist>
