<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>ld_bg.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1560,720}</string>
    <key>spriteSourceSize</key>
    <string>{1560,720}</string>
    <key>textureRect</key>
    <string>{{0,0},{1560,720}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ld_logo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{15,18}</string>
    <key>spriteSize</key>
    <string>{582,457}</string>
    <key>spriteSourceSize</key>
    <string>{612,594}</string>
    <key>textureRect</key>
    <string>{{916,1183},{582,457}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ld_logo_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-27,26}</string>
    <key>spriteSize</key>
    <string>{2,2}</string>
    <key>spriteSourceSize</key>
    <string>{57,55}</string>
    <key>textureRect</key>
    <string>{{42,1402},{2,2}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ld_logo_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-27,26}</string>
    <key>spriteSize</key>
    <string>{2,2}</string>
    <key>spriteSourceSize</key>
    <string>{57,55}</string>
    <key>textureRect</key>
    <string>{{42,1402},{2,2}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ld_logo_gray.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{14,18}</string>
    <key>spriteSize</key>
    <string>{584,459}</string>
    <key>spriteSourceSize</key>
    <string>{612,594}</string>
    <key>textureRect</key>
    <string>{{916,722},{584,459}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ld_logo_light.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{914,678}</string>
    <key>spriteSourceSize</key>
    <string>{914,678}</string>
    <key>textureRect</key>
    <string>{{0,722},{914,678}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>warning.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{40,40}</string>
    <key>spriteSourceSize</key>
    <string>{40,40}</string>
    <key>textureRect</key>
    <string>{{0,1402},{40,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1562,1642}</string>
   <key>textureFileName</key>
   <string>loading.png</string>
  </dict>
 </dict>
</plist>
