<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Card_10B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{1,1},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_10C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{152,1},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_10R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{303,1},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_10T.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{454,1},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_11B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{605,1},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_11C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{756,1},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_11R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{907,1},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_11T.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{1,117},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_12B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{152,117},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_12C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{303,117},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_12R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{454,117},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_12T.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{605,117},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_13B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{756,117},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_13C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{907,152},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_13R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{1,233},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_13T.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{152,233},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_1B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{303,233},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_1C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{454,233},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_1R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{605,233},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_1T.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{756,233},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_2B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{907,303},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_2C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{1,349},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_2R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{152,349},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_2T.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{303,349},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_3B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{454,349},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_3C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{605,349},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_3R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{756,349},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_3T.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{1,465},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_4B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{152,465},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_4C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{303,465},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_4R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{454,465},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_4T.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{605,465},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_5B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{756,465},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_5C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{907,454},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_5R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{1,581},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_5T.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{152,581},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_6B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{303,581},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_6C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{454,581},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_6R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{605,581},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_6T.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{756,581},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_7B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{907,605},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_7C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{1,697},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_7R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{152,697},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_7T.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{303,697},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_8B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{454,697},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_8C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{605,697},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_8R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{756,697},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_8T.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{907,756},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_9B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{1,813},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_9C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{152,813},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_9R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{303,813},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_9T.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{454,813},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Card_bc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{605,813},{114,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_select1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,170}</string>
                <key>spriteSourceSize</key>
                <string>{136,170}</string>
                <key>textureRect</key>
                <string>{{756,813},{136,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{1022,984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:984ad974c7ec2d5700c52db8d7898f03:c4b8375cc722db16a09df33b80b1f0dd:ac15c2787776c146127be3982bd2a622$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
