<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bj_spotlight_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{419,270}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{419,270}</string>
   </dict>
   <key>bj_spotlight_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{421,816},{419,270}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{419,270}</string>
   </dict>
   <key>bj_spotlight_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{842,544},{419,270}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{419,270}</string>
   </dict>
   <key>bj_spotlight_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,272},{419,270}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{419,270}</string>
   </dict>
   <key>bj_spotlight_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{421,0},{419,270}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{419,270}</string>
   </dict>
   <key>bj_spotlight_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{421,272},{419,270}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{419,270}</string>
   </dict>
   <key>bj_spotlight_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,544},{419,270}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{419,270}</string>
   </dict>
   <key>bj_spotlight_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{421,544},{419,270}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{419,270}</string>
   </dict>
   <key>bj_spotlight_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,816},{419,270}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{419,270}</string>
   </dict>
   <key>bj_spotlight_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{842,0},{419,270}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{419,270}</string>
   </dict>
   <key>bj_spotlight_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{842,272},{419,270}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{419,270}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>bj_spotlight.png</string>
  </dict>
 </dict>
</plist>
