<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>logo_3cay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,69}</string>
                <key>spriteSourceSize</key>
                <string>{126,69}</string>
                <key>textureRect</key>
                <string>{{357,1},{126,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo_lieng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,67}</string>
                <key>spriteSourceSize</key>
                <string>{104,67}</string>
                <key>textureRect</key>
                <string>{{1,143},{104,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_maubinh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,69}</string>
                <key>spriteSourceSize</key>
                <string>{174,69}</string>
                <key>textureRect</key>
                <string>{{1,72},{174,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,62}</string>
                <key>spriteSourceSize</key>
                <string>{118,62}</string>
                <key>textureRect</key>
                <string>{{302,142},{118,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_sam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,68}</string>
                <key>spriteSourceSize</key>
                <string>{157,68}</string>
                <key>textureRect</key>
                <string>{{177,72},{157,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_tala.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,68}</string>
                <key>spriteSourceSize</key>
                <string>{99,68}</string>
                <key>textureRect</key>
                <string>{{201,142},{99,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_tlmn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,69}</string>
                <key>spriteSourceSize</key>
                <string>{354,69}</string>
                <key>textureRect</key>
                <string>{{1,1},{354,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_xito.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,67}</string>
                <key>spriteSourceSize</key>
                <string>{92,67}</string>
                <key>textureRect</key>
                <string>{{107,143},{92,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>logoGame.png</string>
            <key>size</key>
            <string>{427,211}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0edb1e358e47ac30710d70f7df7acbbd:b04bb5470f6ae18cc758a76fb2691e7b:1b4fcf45c9015acf0f64bce42c3c189c$</string>
            <key>textureFileName</key>
            <string>logoGame.png</string>
        </dict>
    </dict>
</plist>
