<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>logo_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1052},{235,206}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{235,206}</string>
   </dict>
   <key>logo_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{237,844},{235,206}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{235,206}</string>
   </dict>
   <key>logo_100.png</key>
   <dict>
    <key>frame</key>
    <string>{{268,422},{266,420}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{266,420}</string>
   </dict>
   <key>logo_100_bg_money.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1260},{142,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{142,38}</string>
   </dict>
   <key>logo_100_tai_default.png</key>
   <dict>
    <key>frame</key>
    <string>{{1041,411},{148,135}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{148,135}</string>
   </dict>
   <key>logo_100_tai_on.png</key>
   <dict>
    <key>frame</key>
    <string>{{1041,274},{148,135}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{148,135}</string>
   </dict>
   <key>logo_100_xiu_default.png</key>
   <dict>
    <key>frame</key>
    <string>{{1041,137},{148,135}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{148,135}</string>
   </dict>
   <key>logo_100_xiu_on.png</key>
   <dict>
    <key>frame</key>
    <string>{{1041,0},{148,135}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{148,135}</string>
   </dict>
   <key>logo_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{237,844},{235,206}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{235,206}</string>
   </dict>
   <key>logo_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{804,416},{235,206}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{235,206}</string>
   </dict>
   <key>logo_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{237,1052},{235,206}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{235,206}</string>
   </dict>
   <key>logo_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{711,1052},{235,206}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{235,206}</string>
   </dict>
   <key>logo_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{948,844},{235,206}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{235,206}</string>
   </dict>
   <key>logo_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{474,1052},{235,206}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{235,206}</string>
   </dict>
   <key>logo_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,844},{235,206}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{235,206}</string>
   </dict>
   <key>logo_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{804,0},{235,206}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{235,206}</string>
   </dict>
   <key>logo_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{804,208},{235,206}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{235,206}</string>
   </dict>
   <key>logo_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{536,0},{266,420}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{266,420}</string>
   </dict>
   <key>logo_coming_soon.png</key>
   <dict>
    <key>frame</key>
    <string>{{1041,548},{118,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{118,118}</string>
   </dict>
   <key>logo_event.png</key>
   <dict>
    <key>frame</key>
    <string>{{1041,668},{145,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{145,41}</string>
   </dict>
   <key>logo_slot_199.png</key>
   <dict>
    <key>frame</key>
    <string>{{948,1052},{235,206}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{235,206}</string>
   </dict>
   <key>logo_slot_202.png</key>
   <dict>
    <key>frame</key>
    <string>{{711,844},{235,206}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{235,206}</string>
   </dict>
   <key>logo_slot_204.png</key>
   <dict>
    <key>frame</key>
    <string>{{268,0},{266,420}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{266,420}</string>
   </dict>
   <key>logo_slot_205.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{266,420}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{266,420}</string>
   </dict>
   <key>logo_slot_206.png</key>
   <dict>
    <key>frame</key>
    <string>{{804,624},{235,206}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{235,206}</string>
   </dict>
   <key>logo_slot_217.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,422},{266,420}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{266,420}</string>
   </dict>
   <key>logo_slot_218.png</key>
   <dict>
    <key>frame</key>
    <string>{{536,422},{265,418}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{265,418}</string>
   </dict>
   <key>logo_slot_219.png</key>
   <dict>
    <key>frame</key>
    <string>{{474,844},{235,206}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{235,206}</string>
   </dict>
   <key>tophu_icon_199.png</key>
   <dict>
    <key>frame</key>
    <string>{{1041,711},{62,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{62,58}</string>
   </dict>
   <key>tophu_icon_202.png</key>
   <dict>
    <key>frame</key>
    <string>{{144,1260},{62,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{62,58}</string>
   </dict>
   <key>tophu_icon_204.png</key>
   <dict>
    <key>frame</key>
    <string>{{208,1260},{62,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{62,58}</string>
   </dict>
   <key>tophu_icon_205.png</key>
   <dict>
    <key>frame</key>
    <string>{{272,1260},{62,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{62,58}</string>
   </dict>
   <key>tophu_icon_206.png</key>
   <dict>
    <key>frame</key>
    <string>{{1041,771},{62,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{62,58}</string>
   </dict>
   <key>tophu_icon_217.png</key>
   <dict>
    <key>frame</key>
    <string>{{336,1260},{62,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{62,58}</string>
   </dict>
   <key>tophu_icon_218.png</key>
   <dict>
    <key>frame</key>
    <string>{{1105,711},{62,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{62,58}</string>
   </dict>
   <key>tophu_icon_219.png</key>
   <dict>
    <key>frame</key>
    <string>{{400,1260},{62,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{62,58}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>logos.png</string>
  </dict>
 </dict>
</plist>
