<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>ct_A.png</key>
   <dict>
    <key>frame</key>
    <string>{{549,481},{48,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{48,56}</string>
   </dict>
   <key>ct_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{728,408}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{728,408}</string>
   </dict>
   <key>ct_bg_cards.png</key>
   <dict>
    <key>frame</key>
    <string>{{361,410},{238,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{238,69}</string>
   </dict>
   <key>ct_bg_sk.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,573},{395,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{395,120}</string>
   </dict>
   <key>ct_bich.png</key>
   <dict>
    <key>frame</key>
    <string>{{704,410},{23,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{23,26}</string>
   </dict>
   <key>ct_btn_close.png</key>
   <dict>
    <key>frame</key>
    <string>{{662,554},{59,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{59,59}</string>
   </dict>
   <key>ct_btn_lichsu.png</key>
   <dict>
    <key>frame</key>
    <string>{{601,615},{59,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{59,59}</string>
   </dict>
   <key>ct_btn_luatchoi.png</key>
   <dict>
    <key>frame</key>
    <string>{{662,615},{59,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{59,59}</string>
   </dict>
   <key>ct_btn_luotmoi.png</key>
   <dict>
    <key>frame</key>
    <string>{{397,573},{186,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{186,75}</string>
   </dict>
   <key>ct_btn_play.png</key>
   <dict>
    <key>frame</key>
    <string>{{361,481},{186,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{186,75}</string>
   </dict>
   <key>ct_btn_xh.png</key>
   <dict>
    <key>frame</key>
    <string>{{601,554},{59,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{59,59}</string>
   </dict>
   <key>ct_chon_cuoc.png</key>
   <dict>
    <key>frame</key>
    <string>{{475,650},{75,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{75,56}</string>
   </dict>
   <key>ct_co.png</key>
   <dict>
    <key>frame</key>
    <string>{{549,539},{27,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{27,26}</string>
   </dict>
   <key>ct_down.png</key>
   <dict>
    <key>frame</key>
    <string>{{601,482},{101,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{101,70}</string>
   </dict>
   <key>ct_down_select.png</key>
   <dict>
    <key>frame</key>
    <string>{{601,482},{101,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{101,70}</string>
   </dict>
   <key>ct_muc_cuoc.png</key>
   <dict>
    <key>frame</key>
    <string>{{397,650},{76,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{76,56}</string>
   </dict>
   <key>ct_ro.png</key>
   <dict>
    <key>frame</key>
    <string>{{704,438},{23,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{23,26}</string>
   </dict>
   <key>ct_tep.png</key>
   <dict>
    <key>frame</key>
    <string>{{552,650},{26,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{26,26}</string>
   </dict>
   <key>ct_text_caothap.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,410},{359,161}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{359,161}</string>
   </dict>
   <key>ct_up.png</key>
   <dict>
    <key>frame</key>
    <string>{{601,410},{101,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{101,70}</string>
   </dict>
   <key>ct_up_select.png</key>
   <dict>
    <key>frame</key>
    <string>{{601,410},{101,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{101,70}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>caothap.png</string>
  </dict>
 </dict>
</plist>
