<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>haitac_bg_free.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1559,720}</string>
                <key>spriteSourceSize</key>
                <string>{1559,720}</string>
                <key>textureRect</key>
                <string>{{88,723},{1559,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_bg_mng_text_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{1563,220},{57,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_bg_mng_text_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{1563,220},{57,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_mng_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{1563,220},{57,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_mng_bg_thongbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{841,508}</string>
                <key>spriteSourceSize</key>
                <string>{841,508}</string>
                <key>textureRect</key>
                <string>{{88,1445},{841,508}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_mng_btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,68}</string>
                <key>spriteSourceSize</key>
                <string>{217,68}</string>
                <key>textureRect</key>
                <string>{{1563,1},{217,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_mng_btn_item_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,171}</string>
                <key>spriteSourceSize</key>
                <string>{152,171}</string>
                <key>textureRect</key>
                <string>{{1231,1445},{152,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_mng_btn_item_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,162}</string>
                <key>spriteSourceSize</key>
                <string>{180,162}</string>
                <key>textureRect</key>
                <string>{{1073,1631},{180,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_mng_btn_item_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,137}</string>
                <key>spriteSourceSize</key>
                <string>{153,137}</string>
                <key>textureRect</key>
                <string>{{1385,1445},{153,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_mng_btn_item_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1517,1600},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_mng_btn_item_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,151}</string>
                <key>spriteSourceSize</key>
                <string>{157,151}</string>
                <key>textureRect</key>
                <string>{{1237,1618},{157,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_mng_btn_item_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,152}</string>
                <key>spriteSourceSize</key>
                <string>{176,152}</string>
                <key>textureRect</key>
                <string>{{1077,1445},{176,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_mng_btn_item_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,140}</string>
                <key>spriteSourceSize</key>
                <string>{183,140}</string>
                <key>textureRect</key>
                <string>{{931,1631},{183,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_mng_btn_item_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,148}</string>
                <key>spriteSourceSize</key>
                <string>{146,148}</string>
                <key>textureRect</key>
                <string>{{1259,1777},{146,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_mng_btn_item_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,144}</string>
                <key>spriteSourceSize</key>
                <string>{184,144}</string>
                <key>textureRect</key>
                <string>{{931,1445},{184,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_mng_btn_item_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,167}</string>
                <key>spriteSourceSize</key>
                <string>{153,167}</string>
                <key>textureRect</key>
                <string>{{1104,1813},{153,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_mng_btn_item_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,125}</string>
                <key>spriteSourceSize</key>
                <string>{147,125}</string>
                <key>textureRect</key>
                <string>{{1390,1600},{147,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_mng_btn_item_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,181}</string>
                <key>spriteSourceSize</key>
                <string>{171,181}</string>
                <key>textureRect</key>
                <string>{{931,1816},{171,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_mng_rw_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,132}</string>
                <key>spriteSourceSize</key>
                <string>{92,132}</string>
                <key>textureRect</key>
                <string>{{1524,1445},{92,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_mng_rw_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{1563,220},{57,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_mng_rw_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{1563,220},{57,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_mng_rw_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{1563,220},{57,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_mng_rw_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{1563,220},{57,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_outdoor_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1560,720}</string>
                <key>spriteSourceSize</key>
                <string>{1560,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1560,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_outdoor_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1560,720}</string>
                <key>spriteSourceSize</key>
                <string>{1560,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1560,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_top_bg_minigame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,85}</string>
                <key>spriteSourceSize</key>
                <string>{1280,85}</string>
                <key>textureRect</key>
                <string>{{1,723},{1280,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>slots_haitac_minigame.png</string>
            <key>size</key>
            <string>{1648,2004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c16ed887130f7f6d62528c91782796e9:2dbfeec94996ff3725b4e3b7f008c4da:03f63197ca8783374915b05c0d5805bd$</string>
            <key>textureFileName</key>
            <string>slots_haitac_minigame.png</string>
        </dict>
    </dict>
</plist>
