<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>haitac_bg_loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1560,720}</string>
                <key>spriteSourceSize</key>
                <string>{1560,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1560,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_bg_slots.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1030,465}</string>
                <key>spriteSourceSize</key>
                <string>{1030,465}</string>
                <key>textureRect</key>
                <string>{{1563,1},{1030,465}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_bg_slots_fg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1172,534}</string>
                <key>spriteSourceSize</key>
                <string>{1172,534}</string>
                <key>textureRect</key>
                <string>{{1,1292},{1172,534}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_bg_slots_fg_free.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1207,567}</string>
                <key>spriteSourceSize</key>
                <string>{1207,567}</string>
                <key>textureRect</key>
                <string>{{1,723},{1207,567}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_bg_slots_free.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{999,487}</string>
                <key>spriteSourceSize</key>
                <string>{999,487}</string>
                <key>textureRect</key>
                <string>{{1210,1033},{999,487}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>slots_haitac_loading.png</string>
            <key>size</key>
            <string>{2029,2033}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d9a351be0f1bbb5f0b6f5b7f34bde92:248644b0fd264e7e5bcbe68fa8dcc86a:d5317b16a460b7435b50595efe58d993$</string>
            <key>textureFileName</key>
            <string>slots_haitac_loading.png</string>
        </dict>
    </dict>
</plist>
