<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>haitac_bg_countdown_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1050,302},{470,83}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{470,83}</string>
   </dict>
   <key>haitac_bg_countdown_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1050,475},{100,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{100,29}</string>
   </dict>
   <key>haitac_bg_freespins.png</key>
   <dict>
    <key>frame</key>
    <string>{{1603,0},{97,183}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{97,183}</string>
   </dict>
   <key>haitac_bg_jackpot.png</key>
   <dict>
    <key>frame</key>
    <string>{{1050,387},{354,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{354,86}</string>
   </dict>
   <key>haitac_bg_jackpot_count.png</key>
   <dict>
    <key>frame</key>
    <string>{{1522,302},{217,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{217,81}</string>
   </dict>
   <key>haitac_bg_jackpot_event.png</key>
   <dict>
    <key>frame</key>
    <string>{{1522,302},{217,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{217,81}</string>
   </dict>
   <key>haitac_bg_mng_reward.png</key>
   <dict>
    <key>frame</key>
    <string>{{1481,453},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>haitac_bg_napcoin.png</key>
   <dict>
    <key>frame</key>
    <string>{{1316,847},{261,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{261,72}</string>
   </dict>
   <key>haitac_bg_play_trial.png</key>
   <dict>
    <key>frame</key>
    <string>{{1316,1362},{87,129}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{87,129}</string>
   </dict>
   <key>haitac_bg_sk.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1181},{287,405}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{287,405}</string>
   </dict>
   <key>haitac_bg_so_dong.png</key>
   <dict>
    <key>frame</key>
    <string>{{1301,203},{283,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{283,88}</string>
   </dict>
   <key>haitac_bg_so_phong.png</key>
   <dict>
    <key>frame</key>
    <string>{{806,1665},{135,89}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{135,89}</string>
   </dict>
   <key>haitac_bg_thongtin.png</key>
   <dict>
    <key>frame</key>
    <string>{{1481,453},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>haitac_bottom.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1035},{1286,144}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1286,144}</string>
   </dict>
   <key>haitac_btn_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,1181},{250,414}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{250,414}</string>
   </dict>
   <key>haitac_btn_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,1181},{250,414}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{250,414}</string>
   </dict>
   <key>haitac_btn_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,1181},{250,414}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{250,414}</string>
   </dict>
   <key>haitac_btn_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,1181},{250,414}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{250,414}</string>
   </dict>
   <key>haitac_btn_back.png</key>
   <dict>
    <key>frame</key>
    <string>{{541,1538},{92,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{92,185}</string>
   </dict>
   <key>haitac_btn_back_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1131,685},{183,159}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{183,159}</string>
   </dict>
   <key>haitac_btn_bangthuong.png</key>
   <dict>
    <key>frame</key>
    <string>{{1424,1781},{87,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{87,82}</string>
   </dict>
   <key>haitac_btn_bet_event_active_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1520,1526},{98,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{98,80}</string>
   </dict>
   <key>haitac_btn_bet_event_active_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1114,1801},{98,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{98,81}</string>
   </dict>
   <key>haitac_btn_bet_event_active_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1520,1608},{98,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{98,80}</string>
   </dict>
   <key>haitac_btn_bet_event_inactive_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1324,1781},{98,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{98,80}</string>
   </dict>
   <key>haitac_btn_bet_event_inactive_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1014,1801},{98,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{98,81}</string>
   </dict>
   <key>haitac_btn_bet_event_inactive_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1391,1655},{98,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{98,80}</string>
   </dict>
   <key>haitac_btn_dung.png</key>
   <dict>
    <key>frame</key>
    <string>{{843,302},{205,205}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{205,205}</string>
   </dict>
   <key>haitac_btn_lsgd.png</key>
   <dict>
    <key>frame</key>
    <string>{{1050,506},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>haitac_btn_naptien.png</key>
   <dict>
    <key>frame</key>
    <string>{{1481,453},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>haitac_btn_quay.png</key>
   <dict>
    <key>frame</key>
    <string>{{843,302},{205,205}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{205,205}</string>
   </dict>
   <key>haitac_btn_settings.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,1597},{92,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{92,185}</string>
   </dict>
   <key>haitac_btn_sieutoc.png</key>
   <dict>
    <key>frame</key>
    <string>{{1453,685},{243,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{243,76}</string>
   </dict>
   <key>haitac_btn_sieutoc2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1316,921},{243,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{243,76}</string>
   </dict>
   <key>haitac_btn_vinhdanh.png</key>
   <dict>
    <key>frame</key>
    <string>{{132,1824},{87,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{87,72}</string>
   </dict>
   <key>haitac_btn_x2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1453,763},{231,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{231,70}</string>
   </dict>
   <key>haitac_coin.png</key>
   <dict>
    <key>frame</key>
    <string>{{1481,453},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>haitac_icon_jackpot.png</key>
   <dict>
    <key>frame</key>
    <string>{{1406,453},{73,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{73,49}</string>
   </dict>
   <key>haitac_line_numb_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1481,453},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>haitac_line_numb_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1481,453},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>haitac_mng_btn_start.png</key>
   <dict>
    <key>frame</key>
    <string>{{1481,453},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>haitac_multi_rate_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{1481,453},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>haitac_nohu.png</key>
   <dict>
    <key>frame</key>
    <string>{{635,1538},{57,273}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,273}</string>
   </dict>
   <key>haitac_nohu_light.png</key>
   <dict>
    <key>frame</key>
    <string>{{1481,453},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>haitac_numb_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1152,475},{9,8}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{9,8}</string>
   </dict>
   <key>haitac_setting_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{841,508}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{841,508}</string>
   </dict>
   <key>haitac_symbol_1_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1215,510},{190,157}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{190,157}</string>
   </dict>
   <key>haitac_symbol_1_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1048,1181},{135,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{135,140}</string>
   </dict>
   <key>haitac_symbol_1_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{730,1347},{150,129}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,129}</string>
   </dict>
   <key>haitac_symbol_1_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{903,1756},{97,108}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{97,108}</string>
   </dict>
   <key>haitac_symbol_1_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1444,1213},{109,104}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{109,104}</string>
   </dict>
   <key>haitac_symbol_1_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{920,1538},{90,113}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{90,113}</string>
   </dict>
   <key>haitac_symbol_1_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1688,1736},{52,106}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{52,106}</string>
   </dict>
   <key>haitac_symbol_1_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{1590,999},{113,106}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{113,106}</string>
   </dict>
   <key>haitac_symbol_1_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{1620,1720},{65,105}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{65,105}</string>
   </dict>
   <key>haitac_symbol_1_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{1620,1614},{66,104}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{66,104}</string>
   </dict>
   <key>haitac_symbol_1_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{907,1181},{139,154}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{139,154}</string>
   </dict>
   <key>haitac_symbol_2_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1215,510},{190,157}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{190,157}</string>
   </dict>
   <key>haitac_symbol_2_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1048,1181},{135,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{135,140}</string>
   </dict>
   <key>haitac_symbol_2_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{730,1347},{150,129}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,129}</string>
   </dict>
   <key>haitac_symbol_2_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{383,1597},{130,123}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{130,123}</string>
   </dict>
   <key>haitac_symbol_2_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1014,1589},{99,116}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{99,116}</string>
   </dict>
   <key>haitac_symbol_2_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{132,1712},{130,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{130,110}</string>
   </dict>
   <key>haitac_symbol_2_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1444,1427},{95,97}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{95,97}</string>
   </dict>
   <key>haitac_symbol_2_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{1444,999},{144,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{144,95}</string>
   </dict>
   <key>haitac_symbol_2_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{1117,1707},{100,92}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{100,92}</string>
   </dict>
   <key>haitac_symbol_2_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{1520,1690},{66,111}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{66,111}</string>
   </dict>
   <key>haitac_symbol_2_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{907,1181},{139,154}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{139,154}</string>
   </dict>
   <key>haitac_symbol_3_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1215,510},{190,157}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{190,157}</string>
   </dict>
   <key>haitac_symbol_3_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1048,1181},{135,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{135,140}</string>
   </dict>
   <key>haitac_symbol_3_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{730,1347},{150,129}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,129}</string>
   </dict>
   <key>haitac_symbol_3_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1733},{124,114}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{124,114}</string>
   </dict>
   <key>haitac_symbol_3_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{383,1722},{127,107}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{127,107}</string>
   </dict>
   <key>haitac_symbol_3_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1426,0},{175,155}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{175,155}</string>
   </dict>
   <key>haitac_symbol_3_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1014,1347},{147,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{147,102}</string>
   </dict>
   <key>haitac_symbol_3_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{694,1792},{110,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{110,95}</string>
   </dict>
   <key>haitac_symbol_3_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{1603,185},{135,107}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{135,107}</string>
   </dict>
   <key>haitac_symbol_3_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{1620,1526},{90,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{90,86}</string>
   </dict>
   <key>haitac_symbol_3_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{907,1181},{139,154}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{139,154}</string>
   </dict>
   <key>haitac_symbol_blur_1_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1115,1451},{96,127}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{96,127}</string>
   </dict>
   <key>haitac_symbol_blur_1_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1185,1317},{107,123}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{107,123}</string>
   </dict>
   <key>haitac_symbol_blur_1_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{1316,685},{135,160}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{135,160}</string>
   </dict>
   <key>haitac_symbol_blur_1_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{541,1725},{89,132}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{89,132}</string>
   </dict>
   <key>haitac_symbol_blur_1_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1407,510},{132,157}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{132,157}</string>
   </dict>
   <key>haitac_symbol_blur_1_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1691,1107},{51,125}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{51,125}</string>
   </dict>
   <key>haitac_symbol_blur_1_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{541,1344},{150,147}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,147}</string>
   </dict>
   <key>haitac_symbol_blur_1_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{806,1538},{112,125}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{112,125}</string>
   </dict>
   <key>haitac_symbol_blur_1_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{1131,846},{167,170}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{167,170}</string>
   </dict>
   <key>haitac_symbol_blur_1_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{1324,1655},{65,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{65,124}</string>
   </dict>
   <key>haitac_symbol_blur_1_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{1673,1320},{65,123}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{65,123}</string>
   </dict>
   <key>haitac_symbol_blur_2_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1115,1580},{95,117}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{95,117}</string>
   </dict>
   <key>haitac_symbol_blur_2_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1219,1707},{65,131}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{65,131}</string>
   </dict>
   <key>haitac_symbol_blur_2_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{1316,685},{135,160}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{135,160}</string>
   </dict>
   <key>haitac_symbol_blur_2_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1014,1451},{99,136}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{99,136}</string>
   </dict>
   <key>haitac_symbol_blur_2_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1407,510},{132,157}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{132,157}</string>
   </dict>
   <key>haitac_symbol_blur_2_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1316,1127},{123,115}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{123,115}</string>
   </dict>
   <key>haitac_symbol_blur_2_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{541,1344},{150,147}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,147}</string>
   </dict>
   <key>haitac_symbol_blur_2_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1588},{130,143}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{130,143}</string>
   </dict>
   <key>haitac_symbol_blur_2_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{1131,846},{167,170}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{167,170}</string>
   </dict>
   <key>haitac_symbol_blur_2_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{882,1347},{130,129}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{130,129}</string>
   </dict>
   <key>haitac_symbol_blur_2_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{1590,1107},{99,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{99,112}</string>
   </dict>
   <key>haitac_symbol_blur_3_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1541,510},{124,134}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{124,134}</string>
   </dict>
   <key>haitac_symbol_blur_3_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{730,1181},{175,164}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{175,164}</string>
   </dict>
   <key>haitac_symbol_blur_3_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{1316,685},{135,160}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{135,160}</string>
   </dict>
   <key>haitac_symbol_blur_3_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1444,1096},{110,115}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{110,115}</string>
   </dict>
   <key>haitac_symbol_blur_3_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1407,510},{132,157}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{132,157}</string>
   </dict>
   <key>haitac_symbol_blur_3_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{132,1588},{147,122}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{147,122}</string>
   </dict>
   <key>haitac_symbol_blur_3_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{541,1344},{150,147}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,147}</string>
   </dict>
   <key>haitac_symbol_blur_3_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,1784},{90,106}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{90,106}</string>
   </dict>
   <key>haitac_symbol_blur_3_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{1131,846},{167,170}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{167,170}</string>
   </dict>
   <key>haitac_symbol_blur_3_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{1316,999},{126,126}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{126,126}</string>
   </dict>
   <key>haitac_symbol_blur_3_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{541,1181},{187,161}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{187,161}</string>
   </dict>
   <key>haitac_symbol_free_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1215,510},{190,157}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{190,157}</string>
   </dict>
   <key>haitac_symbol_free_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1324,1565},{104,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{104,88}</string>
   </dict>
   <key>haitac_symbol_free_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{1324,1565},{104,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{104,88}</string>
   </dict>
   <key>haitac_symbol_free_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1213,1565},{109,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{109,95}</string>
   </dict>
   <key>haitac_symbol_free_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1590,1428},{81,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{81,86}</string>
   </dict>
   <key>haitac_symbol_free_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1579,847},{115,114}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{115,114}</string>
   </dict>
   <key>haitac_symbol_free_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1444,1526},{74,111}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{74,111}</string>
   </dict>
   <key>haitac_symbol_free_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{1014,1707},{101,92}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{101,92}</string>
   </dict>
   <key>haitac_symbol_free_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{1590,1221},{95,97}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{95,97}</string>
   </dict>
   <key>haitac_symbol_free_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{1316,1244},{110,116}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{110,116}</string>
   </dict>
   <key>haitac_symbol_free_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{1324,1565},{104,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{104,88}</string>
   </dict>
   <key>haitac_symbol_free_blur_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1131,846},{167,170}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{167,170}</string>
   </dict>
   <key>haitac_symbol_free_blur_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{694,1675},{109,115}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{109,115}</string>
   </dict>
   <key>haitac_symbol_free_blur_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{1131,846},{167,170}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{167,170}</string>
   </dict>
   <key>haitac_symbol_free_blur_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1667,510},{74,131}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{74,131}</string>
   </dict>
   <key>haitac_symbol_free_blur_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1590,1320},{81,106}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{81,106}</string>
   </dict>
   <key>haitac_symbol_free_blur_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1444,1319},{103,106}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{103,106}</string>
   </dict>
   <key>haitac_symbol_free_blur_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1185,1181},{115,134}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{115,134}</string>
   </dict>
   <key>haitac_symbol_free_blur_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{1213,1451},{101,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{101,112}</string>
   </dict>
   <key>haitac_symbol_free_blur_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{806,1756},{95,117}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{95,117}</string>
   </dict>
   <key>haitac_symbol_free_blur_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{694,1538},{110,135}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{110,135}</string>
   </dict>
   <key>haitac_symbol_free_blur_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{1131,846},{167,170}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{167,170}</string>
   </dict>
   <key>haitac_thanglon.png</key>
   <dict>
    <key>frame</key>
    <string>{{1688,1614},{57,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,120}</string>
   </dict>
   <key>haitac_top_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,510},{1213,173}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1213,173}</string>
   </dict>
   <key>haitac_top_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,860},{1129,173}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1129,173}</string>
   </dict>
   <key>haitac_top_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,860},{1129,173}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1129,173}</string>
   </dict>
   <key>haitac_top_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,860},{1129,173}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1129,173}</string>
   </dict>
   <key>haitac_top_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1481,453},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>haitac_top_free.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,685},{1129,173}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1129,173}</string>
   </dict>
   <key>haitac_trunggold.png</key>
   <dict>
    <key>frame</key>
    <string>{{1406,387},{294,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{294,64}</string>
   </dict>
   <key>haitac_tuquay_progress.png</key>
   <dict>
    <key>frame</key>
    <string>{{1481,453},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>haitac_win_bg_freespin.png</key>
   <dict>
    <key>frame</key>
    <string>{{541,1493},{430,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{430,43}</string>
   </dict>
   <key>haitac_win_bg_gold.png</key>
   <dict>
    <key>frame</key>
    <string>{{843,203},{456,97}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{456,97}</string>
   </dict>
   <key>haitac_win_free_spin.png</key>
   <dict>
    <key>frame</key>
    <string>{{1520,1803},{57,93}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,93}</string>
   </dict>
   <key>haitac_win_jackpot_bg_gold.png</key>
   <dict>
    <key>frame</key>
    <string>{{843,0},{581,201}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{581,201}</string>
   </dict>
   <key>haitac_win_light.png</key>
   <dict>
    <key>frame</key>
    <string>{{1481,453},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>slots_haitac.png</string>
  </dict>
 </dict>
</plist>
