<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>haitac_btn1_line_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1633,217},{131,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_btn1_line_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1633,350},{131,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_btn1_line_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1633,483},{131,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_btn1_line_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1633,616},{131,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_btn1_line_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{946,1836},{131,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_btn1_line_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1016,1618},{131,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_btn1_line_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1016,1751},{131,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_btn1_line_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1031,1836},{131,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_btn1_line_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1101,1618},{131,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_btn1_line_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1116,1836},{131,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_btn1_line_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1149,1751},{131,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_btn1_line_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1201,1836},{131,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_btn1_line_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1325,955},{131,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_btn1_line_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1410,942},{131,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_btn1_line_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1410,1027},{131,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_btn1_line_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1543,942},{131,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_btn1_line_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1565,749},{131,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_btn1_line_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1565,834},{131,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_btn1_line_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1628,919},{131,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_btn1_line_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1123,1396},{131,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_btn1_line_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1119,1481},{131,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_btn1_line_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1256,1396},{131,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_btn1_line_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1252,1481},{131,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_btn1_line_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1186,1566},{131,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_btn1_line_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1186,1651},{131,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_btn2_line_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1319,1566},{131,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_btn2_line_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1404,1112},{131,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_btn2_line_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1333,1197},{131,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_btn2_line_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1333,1282},{131,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_btn2_line_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1466,1197},{131,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_btn2_line_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1389,1367},{131,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_btn2_line_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1474,1330},{131,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_btn2_line_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1404,1500},{131,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_btn2_line_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1489,1463},{131,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_btn2_line_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1404,1633},{131,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_btn2_line_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1319,1699},{131,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_btn2_line_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1404,1718},{131,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_btn2_line_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1286,1832},{131,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_btn2_line_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1371,1832},{131,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_btn2_line_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1456,1803},{131,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_btn2_line_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1537,1596},{131,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_btn2_line_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1541,1729},{131,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_btn2_line_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1541,1862},{131,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_btn2_line_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1543,1075},{131,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_btn2_line_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1551,1160},{131,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_btn2_line_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1559,1293},{131,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_btn2_line_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1574,1426},{131,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_btn2_line_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1622,1559},{131,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_btn2_line_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1626,1692},{131,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_btn2_line_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{1456,1947},{131,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_line_chooser_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1120,676}</string>
                <key>spriteSourceSize</key>
                <string>{1120,676}</string>
                <key>textureRect</key>
                <string>{{1,723},{1120,676}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_line_chooser_btn_bochon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,68}</string>
                <key>spriteSourceSize</key>
                <string>{217,68}</string>
                <key>textureRect</key>
                <string>{{1355,723},{217,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_line_chooser_btn_bochon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,68}</string>
                <key>spriteSourceSize</key>
                <string>{217,68}</string>
                <key>textureRect</key>
                <string>{{1123,1177},{217,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_line_chooser_btn_dongchan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,68}</string>
                <key>spriteSourceSize</key>
                <string>{217,68}</string>
                <key>textureRect</key>
                <string>{{1563,217},{217,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_line_chooser_btn_dongchan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,68}</string>
                <key>spriteSourceSize</key>
                <string>{217,68}</string>
                <key>textureRect</key>
                <string>{{1563,436},{217,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_line_chooser_btn_dongle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,68}</string>
                <key>spriteSourceSize</key>
                <string>{217,68}</string>
                <key>textureRect</key>
                <string>{{946,1617},{217,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_line_chooser_btn_dongle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,68}</string>
                <key>spriteSourceSize</key>
                <string>{217,68}</string>
                <key>textureRect</key>
                <string>{{1425,723},{217,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_line_chooser_btn_tatca.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,68}</string>
                <key>spriteSourceSize</key>
                <string>{217,68}</string>
                <key>textureRect</key>
                <string>{{1193,1177},{217,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_line_chooser_btn_tatca2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,68}</string>
                <key>spriteSourceSize</key>
                <string>{217,68}</string>
                <key>textureRect</key>
                <string>{{1495,723},{217,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_line_chooser_close_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,77}</string>
                <key>spriteSourceSize</key>
                <string>{71,77}</string>
                <key>textureRect</key>
                <string>{{946,1969},{71,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_mng_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1560,720}</string>
                <key>spriteSourceSize</key>
                <string>{1560,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1560,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_outdoor_btn_item_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,230}</string>
                <key>spriteSourceSize</key>
                <string>{230,230}</string>
                <key>textureRect</key>
                <string>{{1123,723},{230,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_outdoor_btn_item_0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,230}</string>
                <key>spriteSourceSize</key>
                <string>{230,230}</string>
                <key>textureRect</key>
                <string>{{1123,723},{230,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_outdoor_item_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{1563,655},{57,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_outdoor_item_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{1563,655},{57,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_outdoor_item_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{1563,655},{57,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_outdoor_item_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{1563,655},{57,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_outdoor_item_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{1563,655},{57,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_x2_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{943,644}</string>
                <key>spriteSourceSize</key>
                <string>{943,644}</string>
                <key>textureRect</key>
                <string>{{1,1401},{943,644}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_x2_bg_dathang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,109}</string>
                <key>spriteSourceSize</key>
                <string>{214,109}</string>
                <key>textureRect</key>
                <string>{{1563,1},{214,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_x2_bg_x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,100}</string>
                <key>spriteSourceSize</key>
                <string>{214,100}</string>
                <key>textureRect</key>
                <string>{{946,1401},{214,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_x2_btn_item_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,220}</string>
                <key>spriteSourceSize</key>
                <string>{200,220}</string>
                <key>textureRect</key>
                <string>{{1123,955},{200,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_x2_continue_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,69}</string>
                <key>spriteSourceSize</key>
                <string>{215,69}</string>
                <key>textureRect</key>
                <string>{{1048,1401},{215,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_x2_huongdan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{1563,655},{57,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_x2_huongdan_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{1563,655},{57,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_x2_huongdan_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{1563,655},{57,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_x2_huongdan_btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,77}</string>
                <key>spriteSourceSize</key>
                <string>{71,77}</string>
                <key>textureRect</key>
                <string>{{946,1969},{71,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>haitac_x2_item_open0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,220}</string>
                <key>spriteSourceSize</key>
                <string>{200,220}</string>
                <key>textureRect</key>
                <string>{{1123,955},{200,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_x2_item_open1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,220}</string>
                <key>spriteSourceSize</key>
                <string>{200,220}</string>
                <key>textureRect</key>
                <string>{{1123,955},{200,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haitac_x2_stop_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,68}</string>
                <key>spriteSourceSize</key>
                <string>{217,68}</string>
                <key>textureRect</key>
                <string>{{1263,1177},{217,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>slots_haitac_linechooser.png</string>
            <key>size</key>
            <string>{1717,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90b0755b06421a9c13ffea09469d09f8:b220846df7a6060f39c6bad169b38819:39a0fe8384c25cd7a0effd0b76d42e44$</string>
            <key>textureFileName</key>
            <string>slots_haitac_linechooser.png</string>
        </dict>
    </dict>
</plist>
