<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>dl_chu.png</key>
   <dict>
    <key>frame</key>
    <string>{{1183,300},{49,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{49,49}</string>
   </dict>
   <key>khung_tien2.png</key>
   <dict>
    <key>frame</key>
    <string>{{696,686},{475,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{475,75}</string>
   </dict>
   <key>lb_banner_dot.png</key>
   <dict>
    <key>frame</key>
    <string>{{1307,0},{12,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{12,12}</string>
   </dict>
   <key>lb_download_circle_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{1183,0},{122,122}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{122,122}</string>
   </dict>
   <key>lb_edit_box.png</key>
   <dict>
    <key>frame</key>
    <string>{{696,846},{338,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{338,67}</string>
   </dict>
   <key>lb_footer.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1189},{1271,89}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1271,89}</string>
   </dict>
   <key>lb_game_category.png</key>
   <dict>
    <key>frame</key>
    <string>{{1096,763},{52,410}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{52,410}</string>
   </dict>
   <key>lb_header_left.png</key>
   <dict>
    <key>frame</key>
    <string>{{696,352},{544,123}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{544,123}</string>
   </dict>
   <key>lb_header_right.png</key>
   <dict>
    <key>frame</key>
    <string>{{696,477},{544,123}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{544,123}</string>
   </dict>
   <key>lb_list_pointer.png</key>
   <dict>
    <key>frame</key>
    <string>{{696,1102},{25,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{25,18}</string>
   </dict>
   <key>lb_loading_spin.png</key>
   <dict>
    <key>frame</key>
    <string>{{696,915},{142,144}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{142,144}</string>
   </dict>
   <key>lb_loading_spin2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1244,246},{47,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{47,48}</string>
   </dict>
   <key>lb_popup_title_bg_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{696,763},{398,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{398,81}</string>
   </dict>
   <key>lb_popup_title_bg_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{696,602},{768,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{768,82}</string>
   </dict>
   <key>lb_quenmk_text.png</key>
   <dict>
    <key>frame</key>
    <string>{{1183,124},{194,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{194,30}</string>
   </dict>
   <key>popup_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,686},{694,501}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{694,501}</string>
   </dict>
   <key>popup_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{694,684}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{694,684}</string>
   </dict>
   <key>popup_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{696,0},{485,350}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{485,350}</string>
   </dict>
   <key>popup_nt_bg_label.png</key>
   <dict>
    <key>frame</key>
    <string>{{1183,156},{158,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{158,34}</string>
   </dict>
   <key>solo_check.png</key>
   <dict>
    <key>frame</key>
    <string>{{840,969},{40,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{40,40}</string>
   </dict>
   <key>solo_checked.png</key>
   <dict>
    <key>frame</key>
    <string>{{1234,300},{43,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{43,43}</string>
   </dict>
   <key>stg_icon_amthanh.png</key>
   <dict>
    <key>frame</key>
    <string>{{1242,352},{40,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{40,39}</string>
   </dict>
   <key>stg_icon_banchoi.png</key>
   <dict>
    <key>frame</key>
    <string>{{1242,393},{43,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{43,17}</string>
   </dict>
   <key>stg_icon_moichoi.png</key>
   <dict>
    <key>frame</key>
    <string>{{748,1061},{40,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{40,39}</string>
   </dict>
   <key>stg_icon_rung.png</key>
   <dict>
    <key>frame</key>
    <string>{{696,1061},{50,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{50,39}</string>
   </dict>
   <key>stg_icon_sansang.png</key>
   <dict>
    <key>frame</key>
    <string>{{901,915},{40,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{40,39}</string>
   </dict>
   <key>wifi-0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1244,192},{59,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{59,52}</string>
   </dict>
   <key>wifi-1.png</key>
   <dict>
    <key>frame</key>
    <string>{{840,915},{59,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{59,52}</string>
   </dict>
   <key>wifi-2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1183,246},{59,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{59,52}</string>
   </dict>
   <key>wifi-3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1183,192},{59,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{59,52}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>lobby3.png</string>
  </dict>
 </dict>
</plist>
