<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>banner0.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{266,420}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{266,420}</string>
   </dict>
   <key>doctin_bg1.png</key>
   <dict>
    <key>frame</key>
    <string>{{684,422},{111,99}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{111,99}</string>
   </dict>
   <key>doctin_bg2.png</key>
   <dict>
    <key>frame</key>
    <string>{{666,250},{111,99}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{111,99}</string>
   </dict>
   <key>doctin_bg3.png</key>
   <dict>
    <key>frame</key>
    <string>{{803,379},{62,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{62,59}</string>
   </dict>
   <key>doctin_bg4.png</key>
   <dict>
    <key>frame</key>
    <string>{{741,523},{62,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{62,59}</string>
   </dict>
   <key>icon_vang.png</key>
   <dict>
    <key>frame</key>
    <string>{{814,0},{68,89}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{68,89}</string>
   </dict>
   <key>icon_vang_small.png</key>
   <dict>
    <key>frame</key>
    <string>{{684,523},{55,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{55,72}</string>
   </dict>
   <key>lb_banner_frame.png</key>
   <dict>
    <key>frame</key>
    <string>{{268,0},{266,420}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{266,420}</string>
   </dict>
   <key>lb_download_circle.png</key>
   <dict>
    <key>frame</key>
    <string>{{536,250},{128,127}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{128,127}</string>
   </dict>
   <key>lb_floating_text_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{302,664},{564,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{564,51}</string>
   </dict>
   <key>lb_icon_rank_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{884,0},{57,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,65}</string>
   </dict>
   <key>lb_icon_rank_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{684,597},{54,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{54,62}</string>
   </dict>
   <key>lb_icon_rank_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{866,285},{52,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{52,59}</string>
   </dict>
   <key>lb_invite_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{536,178},{256,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{256,70}</string>
   </dict>
   <key>lb_khung_ten.png</key>
   <dict>
    <key>frame</key>
    <string>{{203,801},{201,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{201,53}</string>
   </dict>
   <key>lb_loading_spin_logo.png</key>
   <dict>
    <key>frame</key>
    <string>{{794,178},{102,105}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{102,105}</string>
   </dict>
   <key>lb_loading_spin_logo2.png</key>
   <dict>
    <key>frame</key>
    <string>{{898,178},{34,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{34,35}</string>
   </dict>
   <key>lb_logo.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,422},{300,311}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{300,311}</string>
   </dict>
   <key>lb_logo_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{536,118},{357,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{357,58}</string>
   </dict>
   <key>lb_logo_autopay.png</key>
   <dict>
    <key>frame</key>
    <string>{{302,422},{380,240}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{380,240}</string>
   </dict>
   <key>lb_logo_header.png</key>
   <dict>
    <key>frame</key>
    <string>{{794,285},{70,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{70,80}</string>
   </dict>
   <key>lb_mail_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,801},{201,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{201,53}</string>
   </dict>
   <key>lb_money_icon.png</key>
   <dict>
    <key>frame</key>
    <string>{{895,118},{27,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{27,50}</string>
   </dict>
   <key>lb_table_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,735},{951,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{951,64}</string>
   </dict>
   <key>lb_table_bg_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{536,0},{276,116}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{276,116}</string>
   </dict>
   <key>lb_table_line.png</key>
   <dict>
    <key>frame</key>
    <string>{{943,0},{3,551}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{3,551}</string>
   </dict>
   <key>lb_table_title_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{406,801},{56,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{56,50}</string>
   </dict>
   <key>lb_thanh_bar.png</key>
   <dict>
    <key>frame</key>
    <string>{{536,379},{265,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{265,40}</string>
   </dict>
   <key>notifi.png</key>
   <dict>
    <key>frame</key>
    <string>{{884,67},{39,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{39,39}</string>
   </dict>
   <key>setting_line.png</key>
   <dict>
    <key>frame</key>
    <string>{{302,717},{551,3}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{551,3}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>lobby.png</string>
  </dict>
 </dict>
</plist>
