<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bg_select_game.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{719,46}</string>
    <key>spriteSourceSize</key>
    <string>{719,46}</string>
    <key>textureRect</key>
    <string>{{0,0},{719,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_accept_invite.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{198,51}</string>
    <key>spriteSourceSize</key>
    <string>{198,51}</string>
    <key>textureRect</key>
    <string>{{200,101},{198,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_apk.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{166,58}</string>
    <key>spriteSourceSize</key>
    <string>{166,58}</string>
    <key>textureRect</key>
    <string>{{400,48},{166,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_app_store.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{166,58}</string>
    <key>spriteSourceSize</key>
    <string>{166,58}</string>
    <key>textureRect</key>
    <string>{{374,154},{166,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_effect.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{198,51}</string>
    <key>spriteSourceSize</key>
    <string>{198,51}</string>
    <key>textureRect</key>
    <string>{{0,154},{198,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_google_play.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{172,58}</string>
    <key>spriteSourceSize</key>
    <string>{172,58}</string>
    <key>textureRect</key>
    <string>{{200,154},{172,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_no_effect.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{198,51}</string>
    <key>spriteSourceSize</key>
    <string>{198,51}</string>
    <key>textureRect</key>
    <string>{{200,48},{198,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_no_invite.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{198,51}</string>
    <key>spriteSourceSize</key>
    <string>{198,51}</string>
    <key>textureRect</key>
    <string>{{0,101},{198,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_no_sound.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{198,51}</string>
    <key>spriteSourceSize</key>
    <string>{198,51}</string>
    <key>textureRect</key>
    <string>{{0,48},{198,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_sound.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{198,48}</string>
    <key>spriteSourceSize</key>
    <string>{198,48}</string>
    <key>textureRect</key>
    <string>{{0,207},{198,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>selected_choose_game.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{84,30}</string>
    <key>spriteSourceSize</key>
    <string>{84,30}</string>
    <key>textureRect</key>
    <string>{{200,214},{84,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>selected_game.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{84,30}</string>
    <key>spriteSourceSize</key>
    <string>{84,30}</string>
    <key>textureRect</key>
    <string>{{286,214},{84,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{721,257}</string>
   <key>textureFileName</key>
   <string>desktop.png</string>
  </dict>
 </dict>
</plist>
