<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bj_coin_container.png</key>
   <dict>
    <key>frame</key>
    <string>{{260,1567},{352,101}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{352,101}</string>
   </dict>
   <key>bj_dealer_machine.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1567},{258,158}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{258,158}</string>
   </dict>
   <key>chuong.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1727},{101,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{101,49}</string>
   </dict>
   <key>icon_ga.png</key>
   <dict>
    <key>frame</key>
    <string>{{103,1727},{44,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{44,49}</string>
   </dict>
   <key>ig_bg_thong_bao.png</key>
   <dict>
    <key>frame</key>
    <string>{{707,1686},{834,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{834,50}</string>
   </dict>
   <key>ig_big_chip_light_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{949,1439},{240,245}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{240,245}</string>
   </dict>
   <key>ig_big_chip_light_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{707,1439},{240,245}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{240,245}</string>
   </dict>
   <key>ig_big_chip_light_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1562,215},{240,245}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{240,245}</string>
   </dict>
   <key>ig_big_chip_light_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1562,462},{240,245}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{240,245}</string>
   </dict>
   <key>ig_big_chip_light_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1521,722},{240,245}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{240,245}</string>
   </dict>
   <key>ig_bj_bet_bg_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1635,1439},{220,141}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{220,141}</string>
   </dict>
   <key>ig_bj_bet_bg_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1413,1439},{220,141}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{220,141}</string>
   </dict>
   <key>ig_bj_bet_bg_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1521,1199},{220,141}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{220,141}</string>
   </dict>
   <key>ig_bj_bet_bg_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1191,1439},{220,141}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{220,141}</string>
   </dict>
   <key>ig_bj_bet_bg_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1675,969},{220,141}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{220,141}</string>
   </dict>
   <key>ig_bj_bet_button_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1743,1313},{175,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{175,112}</string>
   </dict>
   <key>ig_bj_bet_button_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1743,1199},{175,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{175,112}</string>
   </dict>
   <key>ig_bj_bet_button_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1743,1199},{175,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{175,112}</string>
   </dict>
   <key>ig_bj_bet_button_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1635,1582},{175,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{175,112}</string>
   </dict>
   <key>ig_bj_bet_button_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1635,1582},{175,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{175,112}</string>
   </dict>
   <key>ig_bj_bet_pair_bg_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{260,1670},{198,99}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{198,99}</string>
   </dict>
   <key>ig_bj_bet_pair_button_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{460,1670},{157,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{157,78}</string>
   </dict>
   <key>ig_bj_bet_pair_button_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1521,1342},{157,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{157,78}</string>
   </dict>
   <key>ig_bj_bet_pair_button_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1521,1342},{157,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{157,78}</string>
   </dict>
   <key>ig_bj_bet_pair_button_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1675,1112},{157,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{157,78}</string>
   </dict>
   <key>ig_bj_bet_pair_button_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1675,1112},{157,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{157,78}</string>
   </dict>
   <key>ig_chip_stand.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1439},{705,126}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{705,126}</string>
   </dict>
   <key>ig_countdown_bg_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{707,1738},{375,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{375,43}</string>
   </dict>
   <key>ig_countdown_bg_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1191,1582},{358,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{358,50}</string>
   </dict>
   <key>ig_countdown_progress_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1084,1738},{372,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{372,41}</string>
   </dict>
   <key>ig_countdown_progress_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1191,1634},{354,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{354,47}</string>
   </dict>
   <key>ig_insurance_icon.png</key>
   <dict>
    <key>frame</key>
    <string>{{614,1567},{58,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,63}</string>
   </dict>
   <key>khung_bg_ngchoi.png</key>
   <dict>
    <key>frame</key>
    <string>{{1562,0},{306,213}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{306,213}</string>
   </dict>
   <key>khung_bg_ngchoi_9ng.png</key>
   <dict>
    <key>frame</key>
    <string>{{1521,969},{152,228}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{152,228}</string>
   </dict>
   <key>table1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{1560,720}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1560,720}</string>
   </dict>
   <key>table2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,722},{1519,715}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1519,715}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>ingame2.png</string>
  </dict>
 </dict>
</plist>
