<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>tps_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{728,394}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{728,394}</string>
   </dict>
   <key>tps_bg_freespins.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,876},{448,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{448,39}</string>
   </dict>
   <key>tps_bg_jackpot_count.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,917},{209,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{209,71}</string>
   </dict>
   <key>tps_bg_jackpot_event.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,889},{209,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{209,71}</string>
   </dict>
   <key>tps_bg_sk.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,396},{287,405}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{287,405}</string>
   </dict>
   <key>tps_btn1_line_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{747,942},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn1_line_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,948},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn1_line_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{870,887},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn1_line_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{747,986},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn1_line_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{684,1005},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn1_line_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{870,843},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn1_line_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{870,799},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn1_line_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,860},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn1_line_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{684,961},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn1_line_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{914,231},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn1_line_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{603,660},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn1_line_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,904},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn1_line_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{914,187},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn1_line_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{870,1019},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn1_line_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,1036},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn1_line_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{870,975},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn1_line_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,992},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn1_line_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{870,931},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn1_line_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{747,1030},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn1_line_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{684,1049},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn2_line_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{663,660},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn2_line_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{870,711},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn2_line_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{561,979},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn2_line_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{411,1052},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn2_line_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{747,854},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn2_line_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{684,917},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn2_line_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,816},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn2_line_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{870,755},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn2_line_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{471,1052},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn2_line_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{621,979},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn2_line_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{561,1023},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn2_line_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{621,1023},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn2_line_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{747,898},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn2_line_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{914,275},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn2_line_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{914,319},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn2_line_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{723,660},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn2_line_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{783,660},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn2_line_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{351,1052},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn2_line_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{500,998},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn2_line_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,772},{58,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{58,42}</string>
   </dict>
   <key>tps_btn_bet_event_active_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{669,711},{76,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{76,71}</string>
   </dict>
   <key>tps_btn_bet_event_active_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{211,889},{76,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{76,71}</string>
   </dict>
   <key>tps_btn_bet_event_active_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{867,396},{76,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{76,71}</string>
   </dict>
   <key>tps_btn_bet_event_inactive_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,962},{76,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{76,71}</string>
   </dict>
   <key>tps_btn_bet_event_inactive_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{156,962},{76,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{76,71}</string>
   </dict>
   <key>tps_btn_bet_event_inactive_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{78,962},{76,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{76,71}</string>
   </dict>
   <key>tps_btn_close.png</key>
   <dict>
    <key>frame</key>
    <string>{{218,1035},{59,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{59,59}</string>
   </dict>
   <key>tps_btn_dong.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,803},{182,84}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{182,84}</string>
   </dict>
   <key>tps_btn_history.png</key>
   <dict>
    <key>frame</key>
    <string>{{420,990},{59,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{59,59}</string>
   </dict>
   <key>tps_btn_quay.png</key>
   <dict>
    <key>frame</key>
    <string>{{730,273},{182,84}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{182,84}</string>
   </dict>
   <key>tps_btn_rank.png</key>
   <dict>
    <key>frame</key>
    <string>{{747,793},{59,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{59,59}</string>
   </dict>
   <key>tps_btn_support.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,711},{59,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{59,59}</string>
   </dict>
   <key>tps_btn_tuquay.png</key>
   <dict>
    <key>frame</key>
    <string>{{730,187},{182,84}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{182,84}</string>
   </dict>
   <key>tps_btnmoney_active.png</key>
   <dict>
    <key>frame</key>
    <string>{{78,1035},{75,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{75,56}</string>
   </dict>
   <key>tps_btnmoney_inactive.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1035},{76,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{76,56}</string>
   </dict>
   <key>tps_light.png</key>
   <dict>
    <key>frame</key>
    <string>{{603,396},{262,262}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{262,262}</string>
   </dict>
   <key>tps_line_numb_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{757,359},{25,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{25,25}</string>
   </dict>
   <key>tps_line_numb_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{730,359},{25,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{25,25}</string>
   </dict>
   <key>tps_nohu.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,396},{312,313}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{312,313}</string>
   </dict>
   <key>tps_numb_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{730,386},{7,7}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{7,7}</string>
   </dict>
   <key>tps_symbol_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{867,551},{82,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{82,60}</string>
   </dict>
   <key>tps_symbol_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{867,613},{60,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{60,60}</string>
   </dict>
   <key>tps_symbol_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{155,1035},{61,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{61,59}</string>
   </dict>
   <key>tps_symbol_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{351,990},{67,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{67,60}</string>
   </dict>
   <key>tps_symbol_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{561,917},{60,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{60,60}</string>
   </dict>
   <key>tps_symbol_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{623,917},{59,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{59,59}</string>
   </dict>
   <key>tps_symbol_blur_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{184,803},{82,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{82,80}</string>
   </dict>
   <key>tps_symbol_blur_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,990},{60,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{60,80}</string>
   </dict>
   <key>tps_symbol_blur_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{669,784},{61,79}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{61,79}</string>
   </dict>
   <key>tps_symbol_blur_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{867,469},{67,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{67,80}</string>
   </dict>
   <key>tps_symbol_blur_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{747,711},{60,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{60,80}</string>
   </dict>
   <key>tps_symbol_blur_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{500,917},{59,79}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{59,79}</string>
   </dict>
   <key>tps_text_game.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,711},{378,163}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{378,163}</string>
   </dict>
   <key>tps_thanglon.png</key>
   <dict>
    <key>frame</key>
    <string>{{730,0},{235,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{235,185}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>trungps.png</string>
  </dict>
 </dict>
</plist>
