<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bkg-btn_white.png</key>
   <dict>
    <key>frame</key>
    <string>{{1077,123},{40,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{40,40}</string>
   </dict>
   <key>ico_kq_tai.png</key>
   <dict>
    <key>frame</key>
    <string>{{1077,165},{34,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{34,34}</string>
   </dict>
   <key>ico_kq_xiu.png</key>
   <dict>
    <key>frame</key>
    <string>{{1092,65},{32,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{32,32}</string>
   </dict>
   <key>tai_default.png</key>
   <dict>
    <key>frame</key>
    <string>{{601,828},{149,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{149,110}</string>
   </dict>
   <key>tai_on.png</key>
   <dict>
    <key>frame</key>
    <string>{{844,665},{149,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{149,110}</string>
   </dict>
   <key>tx_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{791,372},{16,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{16,16}</string>
   </dict>
   <key>tx_1_bridge.png</key>
   <dict>
    <key>frame</key>
    <string>{{764,390},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>tx_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{755,372},{16,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{16,16}</string>
   </dict>
   <key>tx_2_bridge.png</key>
   <dict>
    <key>frame</key>
    <string>{{768,390},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>tx_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{773,372},{16,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{16,16}</string>
   </dict>
   <key>tx_3_bridge.png</key>
   <dict>
    <key>frame</key>
    <string>{{760,390},{2,2}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{2,2}</string>
   </dict>
   <key>tx_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,372},{16,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{16,16}</string>
   </dict>
   <key>tx_4_bridge.png</key>
   <dict>
    <key>frame</key>
    <string>{{755,390},{3,3}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{3,3}</string>
   </dict>
   <key>tx_bat.png</key>
   <dict>
    <key>frame</key>
    <string>{{441,548},{241,241}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{241,241}</string>
   </dict>
   <key>tx_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{728,394}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{728,394}</string>
   </dict>
   <key>tx_bg_chat.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,396},{439,549}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{439,549}</string>
   </dict>
   <key>tx_bg_lightqt.png</key>
   <dict>
    <key>frame</key>
    <string>{{1077,123},{40,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{40,40}</string>
   </dict>
   <key>tx_bg_qtdb.png</key>
   <dict>
    <key>frame</key>
    <string>{{1077,123},{40,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{40,40}</string>
   </dict>
   <key>tx_bg_soicau.png</key>
   <dict>
    <key>frame</key>
    <string>{{441,791},{626,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{626,35}</string>
   </dict>
   <key>tx_bg_songuoichoi_tai.png</key>
   <dict>
    <key>frame</key>
    <string>{{995,745},{120,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{120,31}</string>
   </dict>
   <key>tx_bg_songuoichoi_xiu.png</key>
   <dict>
    <key>frame</key>
    <string>{{995,712},{120,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{120,31}</string>
   </dict>
   <key>tx_bg_tai.png</key>
   <dict>
    <key>frame</key>
    <string>{{730,157},{283,155}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{283,155}</string>
   </dict>
   <key>tx_bg_xiu.png</key>
   <dict>
    <key>frame</key>
    <string>{{730,0},{283,155}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{283,155}</string>
   </dict>
   <key>tx_bgresult_tai.png</key>
   <dict>
    <key>frame</key>
    <string>{{572,947},{174,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{174,69}</string>
   </dict>
   <key>tx_bgresult_xiu.png</key>
   <dict>
    <key>frame</key>
    <string>{{396,947},{174,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{174,69}</string>
   </dict>
   <key>tx_bkg_bet_input_tai.png</key>
   <dict>
    <key>frame</key>
    <string>{{954,870},{164,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{164,43}</string>
   </dict>
   <key>tx_bkg_bet_input_xiu.png</key>
   <dict>
    <key>frame</key>
    <string>{{954,915},{164,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{164,43}</string>
   </dict>
   <key>tx_bkg_times.png</key>
   <dict>
    <key>frame</key>
    <string>{{995,665},{132,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{132,45}</string>
   </dict>
   <key>tx_box_chat.png</key>
   <dict>
    <key>frame</key>
    <string>{{730,314},{309,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{309,56}</string>
   </dict>
   <key>tx_btn_bet.png</key>
   <dict>
    <key>frame</key>
    <string>{{1015,65},{75,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{75,56}</string>
   </dict>
   <key>tx_btn_chat.png</key>
   <dict>
    <key>frame</key>
    <string>{{1040,960},{59,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{59,59}</string>
   </dict>
   <key>tx_btn_close.png</key>
   <dict>
    <key>frame</key>
    <string>{{979,960},{59,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{59,59}</string>
   </dict>
   <key>tx_btn_close_chat.png</key>
   <dict>
    <key>frame</key>
    <string>{{1015,0},{95,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{95,63}</string>
   </dict>
   <key>tx_btn_history.png</key>
   <dict>
    <key>frame</key>
    <string>{{1015,247},{59,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{59,59}</string>
   </dict>
   <key>tx_btn_rank.png</key>
   <dict>
    <key>frame</key>
    <string>{{1041,314},{59,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{59,59}</string>
   </dict>
   <key>tx_btn_soicau.png</key>
   <dict>
    <key>frame</key>
    <string>{{1065,396},{59,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{59,59}</string>
   </dict>
   <key>tx_btn_support.png</key>
   <dict>
    <key>frame</key>
    <string>{{1065,457},{59,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{59,59}</string>
   </dict>
   <key>tx_btn_thongke.png</key>
   <dict>
    <key>frame</key>
    <string>{{1066,548},{59,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{59,59}</string>
   </dict>
   <key>tx_current_bet_tai.png</key>
   <dict>
    <key>frame</key>
    <string>{{752,870},{200,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{200,43}</string>
   </dict>
   <key>tx_current_bet_xiu.png</key>
   <dict>
    <key>frame</key>
    <string>{{752,915},{200,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{200,43}</string>
   </dict>
   <key>tx_current_money_tai.png</key>
   <dict>
    <key>frame</key>
    <string>{{752,870},{200,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{200,43}</string>
   </dict>
   <key>tx_current_money_xiu.png</key>
   <dict>
    <key>frame</key>
    <string>{{752,915},{200,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{200,43}</string>
   </dict>
   <key>tx_den.png</key>
   <dict>
    <key>frame</key>
    <string>{{730,393},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>tx_doc.png</key>
   <dict>
    <key>frame</key>
    <string>{{730,393},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>tx_ico_kq_tai.png</key>
   <dict>
    <key>frame</key>
    <string>{{396,1018},{30,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{30,30}</string>
   </dict>
   <key>tx_ico_kq_xiu.png</key>
   <dict>
    <key>frame</key>
    <string>{{1077,201},{30,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{30,30}</string>
   </dict>
   <key>tx_ico_tai_fx.png</key>
   <dict>
    <key>frame</key>
    <string>{{1015,123},{60,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{60,60}</string>
   </dict>
   <key>tx_ico_user_online.png</key>
   <dict>
    <key>frame</key>
    <string>{{730,372},{23,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{23,19}</string>
   </dict>
   <key>tx_ico_xiu_fx.png</key>
   <dict>
    <key>frame</key>
    <string>{{1015,185},{60,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{60,60}</string>
   </dict>
   <key>tx_input_money_light_tai.png</key>
   <dict>
    <key>frame</key>
    <string>{{198,947},{196,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{196,75}</string>
   </dict>
   <key>tx_input_money_light_xiu.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,947},{196,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{196,75}</string>
   </dict>
   <key>tx_input_money_tai.png</key>
   <dict>
    <key>frame</key>
    <string>{{752,1005},{164,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{164,43}</string>
   </dict>
   <key>tx_input_money_xiu.png</key>
   <dict>
    <key>frame</key>
    <string>{{752,960},{164,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{164,43}</string>
   </dict>
   <key>tx_nan_btn_active.png</key>
   <dict>
    <key>frame</key>
    <string>{{1069,791},{59,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{59,59}</string>
   </dict>
   <key>tx_nan_btn_inactive.png</key>
   <dict>
    <key>frame</key>
    <string>{{918,960},{59,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{59,59}</string>
   </dict>
   <key>tx_session_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{752,828},{269,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{269,40}</string>
   </dict>
   <key>tx_table_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{441,396},{622,150}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{622,150}</string>
   </dict>
   <key>tx_text_game.png</key>
   <dict>
    <key>frame</key>
    <string>{{684,548},{380,115}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{380,115}</string>
   </dict>
   <key>tx_xanh.png</key>
   <dict>
    <key>frame</key>
    <string>{{730,393},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>tx_xanh2.png</key>
   <dict>
    <key>frame</key>
    <string>{{730,393},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>xiu_default.png</key>
   <dict>
    <key>frame</key>
    <string>{{684,665},{158,111}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{158,111}</string>
   </dict>
   <key>xiu_on.png</key>
   <dict>
    <key>frame</key>
    <string>{{441,828},{158,111}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{158,111}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>taixiu.png</string>
  </dict>
 </dict>
</plist>
