<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>lb_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{1560,720}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1560,720}</string>
   </dict>
   <key>lb_bg_room_top.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1643},{951,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{951,50}</string>
   </dict>
   <key>lb_bg_room_top_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1569},{1134,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1134,72}</string>
   </dict>
   <key>lb_btn_44_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1473,1569},{332,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{332,98}</string>
   </dict>
   <key>lb_btn_44_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1465,1222},{335,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{335,98}</string>
   </dict>
   <key>lb_btn_55_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1465,1322},{332,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{332,98}</string>
   </dict>
   <key>lb_btn_55_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1465,722},{335,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{335,98}</string>
   </dict>
   <key>lb_btn_sanhchung_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1465,822},{335,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{335,98}</string>
   </dict>
   <key>lb_btn_sanhchung_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1465,922},{335,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{335,98}</string>
   </dict>
   <key>lb_btn_sanhrieng_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1465,1022},{335,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{335,98}</string>
   </dict>
   <key>lb_btn_sanhrieng_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1465,1122},{335,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{335,98}</string>
   </dict>
   <key>lb_btn_solo_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1465,1422},{332,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{332,98}</string>
   </dict>
   <key>lb_btn_solo_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1136,1569},{335,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{335,98}</string>
   </dict>
   <key>lb_footer_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1478},{1024,89}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1024,89}</string>
   </dict>
   <key>lb_lock.png</key>
   <dict>
    <key>frame</key>
    <string>{{1562,662},{27,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{27,35}</string>
   </dict>
   <key>lb_logo_smartlink.png</key>
   <dict>
    <key>frame</key>
    <string>{{1562,0},{315,264}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{315,264}</string>
   </dict>
   <key>lb_money_icon_light.png</key>
   <dict>
    <key>frame</key>
    <string>{{1562,266},{141,113}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{141,113}</string>
   </dict>
   <key>lb_promotion_icon.png</key>
   <dict>
    <key>frame</key>
    <string>{{1562,381},{81,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{81,76}</string>
   </dict>
   <key>lb_safe_icon.png</key>
   <dict>
    <key>frame</key>
    <string>{{1562,570},{69,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{69,59}</string>
   </dict>
   <key>lb_table_user_icon.png</key>
   <dict>
    <key>frame</key>
    <string>{{1645,381},{54,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{54,57}</string>
   </dict>
   <key>mobifone.png</key>
   <dict>
    <key>frame</key>
    <string>{{1562,631},{123,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{123,29}</string>
   </dict>
   <key>table3.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,722},{1463,754}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1463,754}</string>
   </dict>
   <key>viettel.png</key>
   <dict>
    <key>frame</key>
    <string>{{1562,459},{91,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{91,67}</string>
   </dict>
   <key>vinaphone.png</key>
   <dict>
    <key>frame</key>
    <string>{{1562,528},{125,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{125,40}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>lobby2.png</string>
  </dict>
 </dict>
</plist>
