<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>thuycung_bg_mng_text_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{1927,216},{57,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_bg_mng_text_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{1927,216},{57,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_mng2_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1560,720}</string>
                <key>spriteSourceSize</key>
                <string>{1560,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1560,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_mng2_item_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,302}</string>
                <key>textureRect</key>
                <string>{{1563,1},{300,302}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thuycung_mng2_item_open_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,302}</string>
                <key>textureRect</key>
                <string>{{1563,303},{300,302}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thuycung_mng_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{1927,216},{57,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_mng_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1560,720}</string>
                <key>spriteSourceSize</key>
                <string>{1560,720}</string>
                <key>textureRect</key>
                <string>{{1,723},{1560,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_mng_bg_thongbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,290}</string>
                <key>spriteSourceSize</key>
                <string>{583,290}</string>
                <key>textureRect</key>
                <string>{{1563,605},{583,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thuycung_mng_btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{1867,216},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_mng_btn_item_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,171}</string>
                <key>spriteSourceSize</key>
                <string>{172,171}</string>
                <key>textureRect</key>
                <string>{{1815,1190},{172,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thuycung_mng_rw_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,70}</string>
                <key>spriteSourceSize</key>
                <string>{121,70}</string>
                <key>textureRect</key>
                <string>{{1867,93},{121,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thuycung_mng_rw_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1867,1},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_mng_rw_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,252}</string>
                <key>spriteSourceSize</key>
                <string>{250,252}</string>
                <key>textureRect</key>
                <string>{{1563,1190},{250,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_mng_rw_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,252}</string>
                <key>spriteSourceSize</key>
                <string>{250,252}</string>
                <key>textureRect</key>
                <string>{{1563,1190},{250,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_mng_rw_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,252}</string>
                <key>spriteSourceSize</key>
                <string>{250,252}</string>
                <key>textureRect</key>
                <string>{{1563,1190},{250,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_top_bg_minigame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{1927,216},{57,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>slots_thuycung_minigame.png</string>
            <key>size</key>
            <string>{1987,1444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b819b525945910ea8b7973ae402fe602:1313b3ef756eb07c8875af81d26231e1:685167ba312a453c2876f5177b6bb5a1$</string>
            <key>textureFileName</key>
            <string>slots_thuycung_minigame.png</string>
        </dict>
    </dict>
</plist>
