<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>thuycung_bg_countdown_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{354,1526},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>thuycung_bg_countdown_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{996,921},{100,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{100,29}</string>
   </dict>
   <key>thuycung_bg_freespins.png</key>
   <dict>
    <key>frame</key>
    <string>{{654,1806},{431,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{431,49}</string>
   </dict>
   <key>thuycung_bg_gold_count.png</key>
   <dict>
    <key>frame</key>
    <string>{{996,921},{100,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{100,29}</string>
   </dict>
   <key>thuycung_bg_jackpot.png</key>
   <dict>
    <key>frame</key>
    <string>{{1115,541},{430,121}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{430,121}</string>
   </dict>
   <key>thuycung_bg_jackpot_count.png</key>
   <dict>
    <key>frame</key>
    <string>{{1435,1637},{231,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{231,61}</string>
   </dict>
   <key>thuycung_bg_jackpot_event.png</key>
   <dict>
    <key>frame</key>
    <string>{{1435,1637},{231,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{231,61}</string>
   </dict>
   <key>thuycung_bg_mng_reward.png</key>
   <dict>
    <key>frame</key>
    <string>{{354,1526},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>thuycung_bg_napcoin.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1257},{430,121}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{430,121}</string>
   </dict>
   <key>thuycung_bg_play_trial.png</key>
   <dict>
    <key>frame</key>
    <string>{{820,921},{174,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{174,47}</string>
   </dict>
   <key>thuycung_bg_remaining_time_count.png</key>
   <dict>
    <key>frame</key>
    <string>{{996,921},{100,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{100,29}</string>
   </dict>
   <key>thuycung_bg_sk.png</key>
   <dict>
    <key>frame</key>
    <string>{{820,514},{287,405}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{287,405}</string>
   </dict>
   <key>thuycung_bg_slots.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{1113,512}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1113,512}</string>
   </dict>
   <key>thuycung_bg_so_dong.png</key>
   <dict>
    <key>frame</key>
    <string>{{1087,1806},{157,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{157,58}</string>
   </dict>
   <key>thuycung_bg_so_phong.png</key>
   <dict>
    <key>frame</key>
    <string>{{432,1804},{157,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{157,58}</string>
   </dict>
   <key>thuycung_bg_thongtin.png</key>
   <dict>
    <key>frame</key>
    <string>{{1115,402},{535,137}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{535,137}</string>
   </dict>
   <key>thuycung_bottom.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,973},{1260,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1260,140}</string>
   </dict>
   <key>thuycung_btn_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1115,0},{238,400}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{238,400}</string>
   </dict>
   <key>thuycung_btn_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1115,0},{238,400}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{238,400}</string>
   </dict>
   <key>thuycung_btn_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1115,0},{238,400}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{238,400}</string>
   </dict>
   <key>thuycung_btn_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1115,0},{238,400}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{238,400}</string>
   </dict>
   <key>thuycung_btn_back.png</key>
   <dict>
    <key>frame</key>
    <string>{{1532,204},{107,130}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{107,130}</string>
   </dict>
   <key>thuycung_btn_back_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1758},{102,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{102,102}</string>
   </dict>
   <key>thuycung_btn_bangthuong.png</key>
   <dict>
    <key>frame</key>
    <string>{{1554,664},{108,108}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{108,108}</string>
   </dict>
   <key>thuycung_btn_bet_event_active_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1546,132},{99,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{99,61}</string>
   </dict>
   <key>thuycung_btn_bet_event_active_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1532,336},{99,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{99,61}</string>
   </dict>
   <key>thuycung_btn_bet_event_active_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1160,1257},{99,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{99,61}</string>
   </dict>
   <key>thuycung_btn_bet_event_inactive_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1546,132},{99,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{99,61}</string>
   </dict>
   <key>thuycung_btn_bet_event_inactive_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1532,336},{99,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{99,61}</string>
   </dict>
   <key>thuycung_btn_bet_event_inactive_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1160,1257},{99,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{99,61}</string>
   </dict>
   <key>thuycung_btn_dung.png</key>
   <dict>
    <key>frame</key>
    <string>{{1262,1637},{171,108}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{171,108}</string>
   </dict>
   <key>thuycung_btn_lsgd.png</key>
   <dict>
    <key>frame</key>
    <string>{{468,965},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>thuycung_btn_naptien.png</key>
   <dict>
    <key>frame</key>
    <string>{{354,1526},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>thuycung_btn_quay.png</key>
   <dict>
    <key>frame</key>
    <string>{{177,1757},{171,107}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{171,107}</string>
   </dict>
   <key>thuycung_btn_settings.png</key>
   <dict>
    <key>frame</key>
    <string>{{1546,0},{107,130}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{107,130}</string>
   </dict>
   <key>thuycung_btn_sieutoc.png</key>
   <dict>
    <key>frame</key>
    <string>{{1435,1759},{233,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{233,57}</string>
   </dict>
   <key>thuycung_btn_sieutoc2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1435,1700},{233,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{233,57}</string>
   </dict>
   <key>thuycung_btn_vinhdanh.png</key>
   <dict>
    <key>frame</key>
    <string>{{468,965},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>thuycung_coin.png</key>
   <dict>
    <key>frame</key>
    <string>{{354,1583},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>thuycung_icon_jackpot.png</key>
   <dict>
    <key>frame</key>
    <string>{{468,965},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>thuycung_line_numb_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{770,904},{46,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{46,48}</string>
   </dict>
   <key>thuycung_line_numb_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{770,854},{46,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{46,48}</string>
   </dict>
   <key>thuycung_mng_btn_item_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1547,541},{115,115}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{115,115}</string>
   </dict>
   <key>thuycung_mng_btn_start.png</key>
   <dict>
    <key>frame</key>
    <string>{{354,1526},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>thuycung_multi_rate_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{354,1526},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>thuycung_nohu.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,514},{466,457}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{466,457}</string>
   </dict>
   <key>thuycung_nohu_light.png</key>
   <dict>
    <key>frame</key>
    <string>{{354,1526},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>thuycung_numb_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{770,954},{12,11}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{12,11}</string>
   </dict>
   <key>thuycung_symbol_1_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{432,1257},{220,176}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{220,176}</string>
   </dict>
   <key>thuycung_symbol_1_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1115,778},{192,182}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{192,182}</string>
   </dict>
   <key>thuycung_symbol_1_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1421,1325},{151,151}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{151,151}</string>
   </dict>
   <key>thuycung_symbol_1_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1110,1634},{150,151}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,151}</string>
   </dict>
   <key>thuycung_symbol_1_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1262,1484},{150,151}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,151}</string>
   </dict>
   <key>thuycung_symbol_1_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1414,1484},{150,151}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,151}</string>
   </dict>
   <key>thuycung_symbol_1_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{1309,778},{183,176}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{183,176}</string>
   </dict>
   <key>thuycung_symbol_2_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{432,1257},{220,176}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{220,176}</string>
   </dict>
   <key>thuycung_symbol_2_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1115,778},{192,182}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{192,182}</string>
   </dict>
   <key>thuycung_symbol_2_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1414,1152},{167,151}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{167,151}</string>
   </dict>
   <key>thuycung_symbol_2_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1439,973},{151,169}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{151,169}</string>
   </dict>
   <key>thuycung_symbol_2_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{958,1634},{150,153}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,153}</string>
   </dict>
   <key>thuycung_symbol_2_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1262,1325},{157,157}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{157,157}</string>
   </dict>
   <key>thuycung_symbol_2_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{1309,778},{183,176}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{183,176}</string>
   </dict>
   <key>thuycung_symbol_3_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{432,1257},{220,176}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{220,176}</string>
   </dict>
   <key>thuycung_symbol_3_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1115,778},{192,182}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{192,182}</string>
   </dict>
   <key>thuycung_symbol_3_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{177,1578},{175,177}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{175,177}</string>
   </dict>
   <key>thuycung_symbol_3_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1579},{175,177}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{175,177}</string>
   </dict>
   <key>thuycung_symbol_3_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1262,973},{175,177}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{175,177}</string>
   </dict>
   <key>thuycung_symbol_3_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{654,1455},{175,177}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{175,177}</string>
   </dict>
   <key>thuycung_symbol_3_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{1309,778},{183,176}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{183,176}</string>
   </dict>
   <key>thuycung_symbol_blur_1_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{432,1632},{151,170}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{151,170}</string>
   </dict>
   <key>thuycung_symbol_blur_1_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{831,1257},{174,195}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{174,195}</string>
   </dict>
   <key>thuycung_symbol_blur_1_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{806,1634},{150,170}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,170}</string>
   </dict>
   <key>thuycung_symbol_blur_1_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1355,0},{189,202}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{189,202}</string>
   </dict>
   <key>thuycung_symbol_blur_1_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1007,1447},{150,170}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,170}</string>
   </dict>
   <key>thuycung_symbol_blur_1_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{654,1634},{150,170}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,170}</string>
   </dict>
   <key>thuycung_symbol_blur_1_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{432,1435},{174,195}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{174,195}</string>
   </dict>
   <key>thuycung_symbol_blur_2_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{831,1257},{174,195}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{174,195}</string>
   </dict>
   <key>thuycung_symbol_blur_2_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{831,1454},{167,170}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{167,170}</string>
   </dict>
   <key>thuycung_symbol_blur_2_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1262,1152},{150,171}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,171}</string>
   </dict>
   <key>thuycung_symbol_blur_2_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{432,1435},{174,195}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{174,195}</string>
   </dict>
   <key>thuycung_symbol_blur_2_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1007,1257},{151,188}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{151,188}</string>
   </dict>
   <key>thuycung_symbol_blur_2_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1494,778},{156,176}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{156,176}</string>
   </dict>
   <key>thuycung_symbol_blur_2_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{1355,0},{189,202}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{189,202}</string>
   </dict>
   <key>thuycung_symbol_blur_3_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{831,1257},{174,195}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{174,195}</string>
   </dict>
   <key>thuycung_symbol_blur_3_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{177,1380},{175,196}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{175,196}</string>
   </dict>
   <key>thuycung_symbol_blur_3_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1355,204},{175,196}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{175,196}</string>
   </dict>
   <key>thuycung_symbol_blur_3_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1355,0},{189,202}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{189,202}</string>
   </dict>
   <key>thuycung_symbol_blur_3_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{654,1257},{175,196}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{175,196}</string>
   </dict>
   <key>thuycung_symbol_blur_3_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{432,1435},{174,195}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{174,195}</string>
   </dict>
   <key>thuycung_symbol_blur_3_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1380},{175,197}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{175,197}</string>
   </dict>
   <key>thuycung_thanglon.png</key>
   <dict>
    <key>frame</key>
    <string>{{468,514},{350,338}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{350,338}</string>
   </dict>
   <key>thuycung_top_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1115},{1260,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1260,140}</string>
   </dict>
   <key>thuycung_top_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{354,1526},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>thuycung_top_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{354,1526},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>thuycung_top_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{354,1526},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>thuycung_top_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{354,1526},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>thuycung_trunggold.png</key>
   <dict>
    <key>frame</key>
    <string>{{354,1526},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>thuycung_tuquay_progress.png</key>
   <dict>
    <key>frame</key>
    <string>{{1262,1747},{171,108}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{171,108}</string>
   </dict>
   <key>thuycung_win_bg_freespin.png</key>
   <dict>
    <key>frame</key>
    <string>{{468,854},{300,109}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{300,109}</string>
   </dict>
   <key>thuycung_win_bg_gold.png</key>
   <dict>
    <key>frame</key>
    <string>{{354,1526},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>thuycung_win_free_spin.png</key>
   <dict>
    <key>frame</key>
    <string>{{354,1380},{57,144}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,144}</string>
   </dict>
   <key>thuycung_win_jackpot_bg_gold.png</key>
   <dict>
    <key>frame</key>
    <string>{{1115,664},{437,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{437,112}</string>
   </dict>
   <key>thuycung_win_light.png</key>
   <dict>
    <key>frame</key>
    <string>{{354,1526},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>slots_thuycung.png</string>
  </dict>
 </dict>
</plist>
