<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>thuycung_btn1_line_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,62}</string>
                <key>spriteSourceSize</key>
                <string>{94,62}</string>
                <key>textureRect</key>
                <string>{{752,761},{94,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_btn1_line_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,62}</string>
                <key>spriteSourceSize</key>
                <string>{105,62}</string>
                <key>textureRect</key>
                <string>{{217,949},{105,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_btn1_line_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,62}</string>
                <key>spriteSourceSize</key>
                <string>{105,62}</string>
                <key>textureRect</key>
                <string>{{324,949},{105,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_btn1_line_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,62}</string>
                <key>spriteSourceSize</key>
                <string>{105,62}</string>
                <key>textureRect</key>
                <string>{{431,949},{105,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_btn1_line_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,62}</string>
                <key>spriteSourceSize</key>
                <string>{105,62}</string>
                <key>textureRect</key>
                <string>{{538,949},{105,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_btn1_line_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,62}</string>
                <key>spriteSourceSize</key>
                <string>{105,62}</string>
                <key>textureRect</key>
                <string>{{645,949},{105,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_btn1_line_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,62}</string>
                <key>spriteSourceSize</key>
                <string>{105,62}</string>
                <key>textureRect</key>
                <string>{{941,68},{105,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thuycung_btn1_line_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,62}</string>
                <key>spriteSourceSize</key>
                <string>{105,62}</string>
                <key>textureRect</key>
                <string>{{941,175},{105,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thuycung_btn1_line_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,62}</string>
                <key>spriteSourceSize</key>
                <string>{105,62}</string>
                <key>textureRect</key>
                <string>{{941,282},{105,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thuycung_btn1_line_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,62}</string>
                <key>spriteSourceSize</key>
                <string>{105,62}</string>
                <key>textureRect</key>
                <string>{{941,389},{105,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thuycung_btn1_line_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,62}</string>
                <key>spriteSourceSize</key>
                <string>{105,62}</string>
                <key>textureRect</key>
                <string>{{664,1},{105,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thuycung_btn1_line_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,62}</string>
                <key>spriteSourceSize</key>
                <string>{95,62}</string>
                <key>textureRect</key>
                <string>{{752,569},{95,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_btn1_line_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,62}</string>
                <key>spriteSourceSize</key>
                <string>{106,62}</string>
                <key>textureRect</key>
                <string>{{1,949},{106,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_btn1_line_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,62}</string>
                <key>spriteSourceSize</key>
                <string>{95,62}</string>
                <key>textureRect</key>
                <string>{{752,633},{95,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_btn1_line_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,62}</string>
                <key>spriteSourceSize</key>
                <string>{94,62}</string>
                <key>textureRect</key>
                <string>{{752,825},{94,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_btn1_line_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,62}</string>
                <key>spriteSourceSize</key>
                <string>{94,62}</string>
                <key>textureRect</key>
                <string>{{913,764},{94,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_btn1_line_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,62}</string>
                <key>spriteSourceSize</key>
                <string>{95,62}</string>
                <key>textureRect</key>
                <string>{{664,643},{95,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thuycung_btn1_line_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,62}</string>
                <key>spriteSourceSize</key>
                <string>{94,62}</string>
                <key>textureRect</key>
                <string>{{913,828},{94,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_btn1_line_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,62}</string>
                <key>spriteSourceSize</key>
                <string>{94,62}</string>
                <key>textureRect</key>
                <string>{{848,849},{94,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thuycung_btn1_line_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,62}</string>
                <key>spriteSourceSize</key>
                <string>{95,62}</string>
                <key>textureRect</key>
                <string>{{923,603},{95,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thuycung_btn2_line_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,62}</string>
                <key>spriteSourceSize</key>
                <string>{94,62}</string>
                <key>textureRect</key>
                <string>{{752,889},{94,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_btn2_line_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,62}</string>
                <key>spriteSourceSize</key>
                <string>{105,62}</string>
                <key>textureRect</key>
                <string>{{664,108},{105,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thuycung_btn2_line_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,62}</string>
                <key>spriteSourceSize</key>
                <string>{105,62}</string>
                <key>textureRect</key>
                <string>{{664,215},{105,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thuycung_btn2_line_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,62}</string>
                <key>spriteSourceSize</key>
                <string>{105,62}</string>
                <key>textureRect</key>
                <string>{{664,322},{105,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thuycung_btn2_line_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,62}</string>
                <key>spriteSourceSize</key>
                <string>{105,62}</string>
                <key>textureRect</key>
                <string>{{664,429},{105,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thuycung_btn2_line_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,62}</string>
                <key>spriteSourceSize</key>
                <string>{105,62}</string>
                <key>textureRect</key>
                <string>{{752,441},{105,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_btn2_line_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,62}</string>
                <key>spriteSourceSize</key>
                <string>{105,62}</string>
                <key>textureRect</key>
                <string>{{859,441},{105,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thuycung_btn2_line_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,62}</string>
                <key>spriteSourceSize</key>
                <string>{105,62}</string>
                <key>textureRect</key>
                <string>{{752,505},{105,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_btn2_line_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,62}</string>
                <key>spriteSourceSize</key>
                <string>{105,62}</string>
                <key>textureRect</key>
                <string>{{664,536},{105,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thuycung_btn2_line_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,62}</string>
                <key>spriteSourceSize</key>
                <string>{105,62}</string>
                <key>textureRect</key>
                <string>{{923,496},{105,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thuycung_btn2_line_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,62}</string>
                <key>spriteSourceSize</key>
                <string>{105,62}</string>
                <key>textureRect</key>
                <string>{{859,548},{105,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thuycung_btn2_line_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,62}</string>
                <key>spriteSourceSize</key>
                <string>{95,62}</string>
                <key>textureRect</key>
                <string>{{849,655},{95,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thuycung_btn2_line_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,62}</string>
                <key>spriteSourceSize</key>
                <string>{106,62}</string>
                <key>textureRect</key>
                <string>{{109,949},{106,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_btn2_line_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,62}</string>
                <key>spriteSourceSize</key>
                <string>{95,62}</string>
                <key>textureRect</key>
                <string>{{752,697},{95,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_btn2_line_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,62}</string>
                <key>spriteSourceSize</key>
                <string>{94,62}</string>
                <key>textureRect</key>
                <string>{{848,945},{94,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_btn2_line_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,62}</string>
                <key>spriteSourceSize</key>
                <string>{94,62}</string>
                <key>textureRect</key>
                <string>{{944,892},{94,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thuycung_btn2_line_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,62}</string>
                <key>spriteSourceSize</key>
                <string>{95,62}</string>
                <key>textureRect</key>
                <string>{{913,700},{95,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_btn2_line_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,62}</string>
                <key>spriteSourceSize</key>
                <string>{94,62}</string>
                <key>textureRect</key>
                <string>{{664,740},{94,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thuycung_btn2_line_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,62}</string>
                <key>spriteSourceSize</key>
                <string>{94,62}</string>
                <key>textureRect</key>
                <string>{{664,836},{94,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thuycung_btn2_line_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,62}</string>
                <key>spriteSourceSize</key>
                <string>{95,62}</string>
                <key>textureRect</key>
                <string>{{849,752},{95,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thuycung_line_chooser_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{946,661}</string>
                <key>spriteSourceSize</key>
                <string>{946,661}</string>
                <key>textureRect</key>
                <string>{{1,1},{946,661}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thuycung_line_chooser_btn_bochon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,53}</string>
                <key>spriteSourceSize</key>
                <string>{187,53}</string>
                <key>textureRect</key>
                <string>{{752,1},{187,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_line_chooser_btn_bochon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,53}</string>
                <key>spriteSourceSize</key>
                <string>{187,53}</string>
                <key>textureRect</key>
                <string>{{752,56},{187,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_line_chooser_btn_dongchan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,53}</string>
                <key>spriteSourceSize</key>
                <string>{187,53}</string>
                <key>textureRect</key>
                <string>{{752,111},{187,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_line_chooser_btn_dongchan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,53}</string>
                <key>spriteSourceSize</key>
                <string>{187,53}</string>
                <key>textureRect</key>
                <string>{{752,166},{187,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_line_chooser_btn_dongle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,53}</string>
                <key>spriteSourceSize</key>
                <string>{187,53}</string>
                <key>textureRect</key>
                <string>{{752,221},{187,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_line_chooser_btn_dongle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,53}</string>
                <key>spriteSourceSize</key>
                <string>{187,53}</string>
                <key>textureRect</key>
                <string>{{752,276},{187,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_line_chooser_btn_tatca.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,53}</string>
                <key>spriteSourceSize</key>
                <string>{187,53}</string>
                <key>textureRect</key>
                <string>{{752,331},{187,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_line_chooser_btn_tatca2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,53}</string>
                <key>spriteSourceSize</key>
                <string>{187,53}</string>
                <key>textureRect</key>
                <string>{{752,386},{187,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_line_chooser_close_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{941,1},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>slots_thuycung_linechooser.png</string>
            <key>size</key>
            <string>{1009,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47a9a1e34503e8404d94dd1f075f5ac5:c0dafd8623664c1ae7fa64fdeb1ec62d:ee4c76d63d1ac7069578cec567fe4968$</string>
            <key>textureFileName</key>
            <string>slots_thuycung_linechooser.png</string>
        </dict>
    </dict>
</plist>
