<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>thuycung_bangthuong_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{754,419}</string>
                <key>spriteSourceSize</key>
                <string>{754,419}</string>
                <key>textureRect</key>
                <string>{{949,1},{754,419}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thuycung_bangthuong_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{753,419}</string>
                <key>spriteSourceSize</key>
                <string>{753,419}</string>
                <key>textureRect</key>
                <string>{{519,664},{753,419}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thuycung_bangthuong_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{753,419}</string>
                <key>spriteSourceSize</key>
                <string>{753,419}</string>
                <key>textureRect</key>
                <string>{{940,757},{753,419}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thuycung_bangthuong_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{946,661}</string>
                <key>spriteSourceSize</key>
                <string>{946,661}</string>
                <key>textureRect</key>
                <string>{{1,1},{946,661}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_bangthuong_btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{519,1419},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_icon_amthanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{586,1419},{57,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thuycung_icon_bangvinhdanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{586,1419},{57,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thuycung_icon_lsgd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{586,1419},{57,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thuycung_icon_lshu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{586,1419},{57,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thuycung_setting_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{801,516}</string>
                <key>spriteSourceSize</key>
                <string>{801,516}</string>
                <key>textureRect</key>
                <string>{{1,664},{801,516}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thuycung_setting_btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{519,1419},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_tick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{643,1419},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuycung_untick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{691,1419},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>slots_thuycung_bangthuong.png</string>
            <key>size</key>
            <string>{1369,1511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6239d9881eeebc85c11172b8a60494a2:ebeabfbe38337c25a8abe5bb8f6620aa:025321e5052d724f681770268f321b87$</string>
            <key>textureFileName</key>
            <string>slots_thuycung_bangthuong.png</string>
        </dict>
    </dict>
</plist>
