<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>dialog.png</key>
   <dict>
    <key>frame</key>
    <string>{{861,1640},{50,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{50,34}</string>
   </dict>
   <key>icon_p.png</key>
   <dict>
    <key>frame</key>
    <string>{{1784,1581},{50,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{50,50}</string>
   </dict>
   <key>ig_ava_win_light.png</key>
   <dict>
    <key>frame</key>
    <string>{{1562,722},{318,318}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{318,318}</string>
   </dict>
   <key>ig_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,722},{1560,720}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1560,720}</string>
   </dict>
   <key>ig_bg_tien.png</key>
   <dict>
    <key>frame</key>
    <string>{{582,1654},{98,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{98,26}</string>
   </dict>
   <key>ig_chat_bg_emo_text.png</key>
   <dict>
    <key>frame</key>
    <string>{{1778,1355},{217,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{217,54}</string>
   </dict>
   <key>ig_countdown_bg_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1378,1619},{375,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{375,45}</string>
   </dict>
   <key>ig_countdown_progress_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{920,1641},{372,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{372,42}</string>
   </dict>
   <key>ig_host_icon.png</key>
   <dict>
    <key>frame</key>
    <string>{{1294,1641},{47,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{47,31}</string>
   </dict>
   <key>ig_icon_chan.png</key>
   <dict>
    <key>frame</key>
    <string>{{708,1654},{24,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{24,24}</string>
   </dict>
   <key>ig_icon_le.png</key>
   <dict>
    <key>frame</key>
    <string>{{682,1654},{24,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{24,24}</string>
   </dict>
   <key>ig_khung_chat.png</key>
   <dict>
    <key>frame</key>
    <string>{{1562,0},{483,720}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{483,720}</string>
   </dict>
   <key>ig_lock.png</key>
   <dict>
    <key>frame</key>
    <string>{{877,1579},{26,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{26,30}</string>
   </dict>
   <key>ig_muccuoc_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{582,1579},{232,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{232,73}</string>
   </dict>
   <key>ig_soicau_xocdia.png</key>
   <dict>
    <key>frame</key>
    <string>{{582,1444},{336,133}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{336,133}</string>
   </dict>
   <key>ig_subscribe_get_out.png</key>
   <dict>
    <key>frame</key>
    <string>{{816,1579},{59,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{59,59}</string>
   </dict>
   <key>ig_tala_pointer.png</key>
   <dict>
    <key>frame</key>
    <string>{{816,1640},{43,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{43,42}</string>
   </dict>
   <key>ig_think_dot_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{756,1654},{20,6}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{20,6}</string>
   </dict>
   <key>ig_think_dot_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{734,1654},{20,6}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{20,6}</string>
   </dict>
   <key>ig_think_dot_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{734,1662},{20,6}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{20,6}</string>
   </dict>
   <key>ig_xocdia_3th.png</key>
   <dict>
    <key>frame</key>
    <string>{{1784,1444},{170,135}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{170,135}</string>
   </dict>
   <key>ig_xocdia_3th_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{920,1444},{227,195}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{227,195}</string>
   </dict>
   <key>ig_xocdia_3tr.png</key>
   <dict>
    <key>frame</key>
    <string>{{1882,722},{155,135}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{155,135}</string>
   </dict>
   <key>ig_xocdia_3tr_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1562,1042},{214,195}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{214,195}</string>
   </dict>
   <key>ig_xocdia_4th.png</key>
   <dict>
    <key>frame</key>
    <string>{{1612,1444},{170,135}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{170,135}</string>
   </dict>
   <key>ig_xocdia_4th_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1149,1444},{227,195}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{227,195}</string>
   </dict>
   <key>ig_xocdia_4tr.png</key>
   <dict>
    <key>frame</key>
    <string>{{1882,859},{155,135}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{155,135}</string>
   </dict>
   <key>ig_xocdia_4tr_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1562,1239},{214,195}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{214,195}</string>
   </dict>
   <key>ig_xocdia_chan.png</key>
   <dict>
    <key>frame</key>
    <string>{{1378,1444},{232,173}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{232,173}</string>
   </dict>
   <key>ig_xocdia_chan_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1444},{289,233}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{289,233}</string>
   </dict>
   <key>ig_xocdia_le.png</key>
   <dict>
    <key>frame</key>
    <string>{{1778,1042},{232,173}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{232,173}</string>
   </dict>
   <key>ig_xocdia_le_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{291,1444},{289,233}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{289,233}</string>
   </dict>
   <key>khung_cacchi.png</key>
   <dict>
    <key>frame</key>
    <string>{{1778,1217},{260,136}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{260,136}</string>
   </dict>
   <key>table4.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{1560,720}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1560,720}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>ingame.png</string>
  </dict>
 </dict>
</plist>
