<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>db_numb_0 copy.png</key>
   <dict>
    <key>frame</key>
    <string>{{253,407},{10,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{10,10}</string>
   </dict>
   <key>dball_bg_sk.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{287,405}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{287,405}</string>
   </dict>
   <key>dball_symbol_blur_1_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,313},{131,126}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{131,126}</string>
   </dict>
   <key>dball_symbol_blur_1_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{530,313},{103,135}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{103,135}</string>
   </dict>
   <key>dball_symbol_blur_1_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{105,545},{103,136}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{103,136}</string>
   </dict>
   <key>dball_symbol_blur_1_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{565,0},{103,135}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{103,135}</string>
   </dict>
   <key>dball_symbol_blur_1_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,407},{128,136}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{128,136}</string>
   </dict>
   <key>dball_symbol_blur_1_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{520,144},{103,139}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{103,139}</string>
   </dict>
   <key>dball_symbol_blur_1_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,313},{131,126}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{131,126}</string>
   </dict>
   <key>dball_symbol_blur_1_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{530,313},{103,135}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{103,135}</string>
   </dict>
   <key>dball_symbol_blur_1_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{105,545},{103,136}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{103,136}</string>
   </dict>
   <key>dball_symbol_blur_2_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{130,407},{121,134}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{121,134}</string>
   </dict>
   <key>dball_symbol_blur_2_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,144},{109,167}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{109,167}</string>
   </dict>
   <key>dball_symbol_blur_2_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{422,455},{103,135}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{103,135}</string>
   </dict>
   <key>dball_symbol_blur_2_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,441},{103,141}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{103,141}</string>
   </dict>
   <key>dball_symbol_blur_2_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,545},{103,137}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{103,137}</string>
   </dict>
   <key>dball_symbol_blur_2_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,407},{128,136}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{128,136}</string>
   </dict>
   <key>dball_symbol_blur_2_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{130,407},{121,134}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{121,134}</string>
   </dict>
   <key>dball_symbol_blur_2_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,144},{109,167}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{109,167}</string>
   </dict>
   <key>dball_symbol_blur_2_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{422,455},{103,135}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{103,135}</string>
   </dict>
   <key>dball_symbol_blur_3_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,0},{159,142}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{159,142}</string>
   </dict>
   <key>dball_symbol_blur_3_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{530,450},{103,134}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{103,134}</string>
   </dict>
   <key>dball_symbol_blur_3_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{450,0},{113,142}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{113,142}</string>
   </dict>
   <key>dball_symbol_blur_3_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{422,313},{106,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{106,140}</string>
   </dict>
   <key>dball_symbol_blur_3_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{400,144},{118,142}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{118,142}</string>
   </dict>
   <key>dball_symbol_blur_3_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,407},{128,136}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{128,136}</string>
   </dict>
   <key>dball_symbol_blur_3_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,0},{159,142}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{159,142}</string>
   </dict>
   <key>dball_symbol_blur_3_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{530,450},{103,134}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{103,134}</string>
   </dict>
   <key>dball_symbol_blur_3_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{450,0},{113,142}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{113,142}</string>
   </dict>
   <key>dball_x_symbol_blur_1_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{530,313},{103,135}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{103,135}</string>
   </dict>
   <key>dball_x_symbol_blur_1_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{530,313},{103,135}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{103,135}</string>
   </dict>
   <key>dball_x_symbol_blur_1_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{530,313},{103,135}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{103,135}</string>
   </dict>
   <key>dball_x_symbol_blur_1_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{530,586},{71,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{71,94}</string>
   </dict>
   <key>dball_x_symbol_blur_1_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{530,586},{71,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{71,94}</string>
   </dict>
   <key>dball_x_symbol_blur_1_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{210,545},{75,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{75,96}</string>
   </dict>
   <key>dball_x_symbol_blur_1_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{210,545},{75,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{75,96}</string>
   </dict>
   <key>dball_x_symbol_blur_1_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,584},{97,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{97,96}</string>
   </dict>
   <key>dball_x_symbol_blur_1_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,584},{97,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{97,96}</string>
   </dict>
   <key>dball_x_symbol_blur_2_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,144},{109,167}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{109,167}</string>
   </dict>
   <key>dball_x_symbol_blur_2_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,144},{109,167}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{109,167}</string>
   </dict>
   <key>dball_x_symbol_blur_2_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,144},{109,167}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{109,167}</string>
   </dict>
   <key>dball_x_symbol_blur_2_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{530,586},{71,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{71,94}</string>
   </dict>
   <key>dball_x_symbol_blur_2_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{530,586},{71,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{71,94}</string>
   </dict>
   <key>dball_x_symbol_blur_2_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{210,545},{75,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{75,96}</string>
   </dict>
   <key>dball_x_symbol_blur_2_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{210,545},{75,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{75,96}</string>
   </dict>
   <key>dball_x_symbol_blur_2_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,584},{97,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{97,96}</string>
   </dict>
   <key>dball_x_symbol_blur_2_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,584},{97,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{97,96}</string>
   </dict>
   <key>dball_x_symbol_blur_3_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{530,450},{103,134}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{103,134}</string>
   </dict>
   <key>dball_x_symbol_blur_3_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{530,450},{103,134}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{103,134}</string>
   </dict>
   <key>dball_x_symbol_blur_3_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{530,450},{103,134}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{103,134}</string>
   </dict>
   <key>dball_x_symbol_blur_3_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{530,586},{71,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{71,94}</string>
   </dict>
   <key>dball_x_symbol_blur_3_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{530,586},{71,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{71,94}</string>
   </dict>
   <key>dball_x_symbol_blur_3_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{210,545},{75,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{75,96}</string>
   </dict>
   <key>dball_x_symbol_blur_3_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{210,545},{75,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{75,96}</string>
   </dict>
   <key>dball_x_symbol_blur_3_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,584},{97,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{97,96}</string>
   </dict>
   <key>dball_x_symbol_blur_3_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,584},{97,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{97,96}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>dball-2.png</string>
  </dict>
 </dict>
</plist>
