<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>db_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{1130,516}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1130,516}</string>
   </dict>
   <key>db_bg_jackpot.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,518},{949,158}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{949,158}</string>
   </dict>
   <key>db_big.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,678},{340,337}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{340,337}</string>
   </dict>
   <key>db_btn_auto_active.png</key>
   <dict>
    <key>frame</key>
    <string>{{1007,747},{162,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{162,66}</string>
   </dict>
   <key>db_btn_auto_inactive.png</key>
   <dict>
    <key>frame</key>
    <string>{{1135,584},{162,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{162,66}</string>
   </dict>
   <key>db_btn_close.png</key>
   <dict>
    <key>frame</key>
    <string>{{1245,306},{62,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{62,62}</string>
   </dict>
   <key>db_btn_fast_active.png</key>
   <dict>
    <key>frame</key>
    <string>{{1007,678},{182,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{182,67}</string>
   </dict>
   <key>db_btn_fast_inactive.png</key>
   <dict>
    <key>frame</key>
    <string>{{951,584},{182,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{182,67}</string>
   </dict>
   <key>db_btn_history.png</key>
   <dict>
    <key>frame</key>
    <string>{{1245,242},{62,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{62,62}</string>
   </dict>
   <key>db_btn_line.png</key>
   <dict>
    <key>frame</key>
    <string>{{561,1098},{159,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{159,58}</string>
   </dict>
   <key>db_btn_rank.png</key>
   <dict>
    <key>frame</key>
    <string>{{1245,434},{62,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{62,62}</string>
   </dict>
   <key>db_btn_spin.png</key>
   <dict>
    <key>frame</key>
    <string>{{879,678},{126,136}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{126,136}</string>
   </dict>
   <key>db_btn_stop.png</key>
   <dict>
    <key>frame</key>
    <string>{{139,1017},{126,136}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{126,136}</string>
   </dict>
   <key>db_btn_support.png</key>
   <dict>
    <key>frame</key>
    <string>{{1245,370},{62,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{62,62}</string>
   </dict>
   <key>db_btnmoney_1_active.png</key>
   <dict>
    <key>frame</key>
    <string>{{1201,956},{88,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{88,58}</string>
   </dict>
   <key>db_btnmoney_1_inactive.png</key>
   <dict>
    <key>frame</key>
    <string>{{467,1097},{88,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{88,58}</string>
   </dict>
   <key>db_btnmoney_2_active.png</key>
   <dict>
    <key>frame</key>
    <string>{{968,1117},{115,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{115,58}</string>
   </dict>
   <key>db_btnmoney_2_inactive.png</key>
   <dict>
    <key>frame</key>
    <string>{{1056,1009},{115,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{115,58}</string>
   </dict>
   <key>db_btnmoney_3_active.png</key>
   <dict>
    <key>frame</key>
    <string>{{1056,949},{136,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{136,58}</string>
   </dict>
   <key>db_btnmoney_3_inactive.png</key>
   <dict>
    <key>frame</key>
    <string>{{1157,825},{136,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{136,58}</string>
   </dict>
   <key>db_numb_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{951,653},{10,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{10,10}</string>
   </dict>
   <key>db_reward_board.png</key>
   <dict>
    <key>frame</key>
    <string>{{723,825},{287,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{287,61}</string>
   </dict>
   <key>db_small.png</key>
   <dict>
    <key>frame</key>
    <string>{{342,825},{217,270}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{217,270}</string>
   </dict>
   <key>db_text_game.png</key>
   <dict>
    <key>frame</key>
    <string>{{342,678},{535,145}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{535,145}</string>
   </dict>
   <key>dball_bg_jackpot_count.png</key>
   <dict>
    <key>frame</key>
    <string>{{951,518},{290,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{290,64}</string>
   </dict>
   <key>dball_bg_jackpot_event.png</key>
   <dict>
    <key>frame</key>
    <string>{{951,518},{290,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{290,64}</string>
   </dict>
   <key>dball_btn_bet_event_active_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1012,825},{143,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{143,59}</string>
   </dict>
   <key>dball_btn_bet_event_active_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1056,888},{143,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{143,59}</string>
   </dict>
   <key>dball_btn_bet_event_active_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{723,1117},{143,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{143,59}</string>
   </dict>
   <key>dball_btn_bet_event_inactive_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1012,825},{143,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{143,59}</string>
   </dict>
   <key>dball_btn_bet_event_inactive_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1056,888},{143,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{143,59}</string>
   </dict>
   <key>dball_btn_bet_event_inactive_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{723,1117},{143,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{143,59}</string>
   </dict>
   <key>dball_btn_next.png</key>
   <dict>
    <key>frame</key>
    <string>{{1245,498},{62,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{62,62}</string>
   </dict>
   <key>dball_btn_prev.png</key>
   <dict>
    <key>frame</key>
    <string>{{267,1085},{62,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{62,62}</string>
   </dict>
   <key>dball_symbol_1_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{561,987},{131,109}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{131,109}</string>
   </dict>
   <key>dball_symbol_1_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1191,678},{103,105}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{103,105}</string>
   </dict>
   <key>dball_symbol_1_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{951,888},{103,107}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{103,107}</string>
   </dict>
   <key>dball_symbol_1_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1132,355},{105,114}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{105,114}</string>
   </dict>
   <key>dball_symbol_1_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{267,1017},{71,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{71,66}</string>
   </dict>
   <key>dball_symbol_1_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1085,1117},{75,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{75,66}</string>
   </dict>
   <key>dball_symbol_1_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{1201,888},{97,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{97,66}</string>
   </dict>
   <key>dball_symbol_1_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{868,1117},{98,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{98,81}</string>
   </dict>
   <key>dball_symbol_1_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{828,1008},{103,105}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{103,105}</string>
   </dict>
   <key>dball_symbol_2_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{342,1097},{123,104}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{123,104}</string>
   </dict>
   <key>dball_symbol_2_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{933,1008},{103,105}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{103,105}</string>
   </dict>
   <key>dball_symbol_2_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1132,242},{111,111}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{111,111}</string>
   </dict>
   <key>dball_symbol_2_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{723,1008},{103,107}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{103,107}</string>
   </dict>
   <key>dball_symbol_2_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1017},{137,137}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{137,137}</string>
   </dict>
   <key>dball_symbol_3_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{561,825},{160,160}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{160,160}</string>
   </dict>
   <key>dball_symbol_3_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{723,888},{118,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{118,118}</string>
   </dict>
   <key>dball_symbol_3_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1132,0},{120,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{120,120}</string>
   </dict>
   <key>dball_symbol_3_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{843,888},{106,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{106,110}</string>
   </dict>
   <key>dball_symbol_3_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{1132,122},{118,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{118,118}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>dball-1.png</string>
  </dict>
 </dict>
</plist>
