<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>avatar_01.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{148,148}</string>
    <key>spriteSourceSize</key>
    <string>{150,150}</string>
    <key>textureRect</key>
    <string>{{150,151},{148,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>avatar_02.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{148,147}</string>
    <key>spriteSourceSize</key>
    <string>{150,150}</string>
    <key>textureRect</key>
    <string>{{0,601},{148,147}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>avatar_03.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{148,147}</string>
    <key>spriteSourceSize</key>
    <string>{150,150}</string>
    <key>textureRect</key>
    <string>{{450,451},{148,147}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>avatar_04.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{148,147}</string>
    <key>spriteSourceSize</key>
    <string>{150,150}</string>
    <key>textureRect</key>
    <string>{{450,600},{148,147}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>avatar_05.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{148,148}</string>
    <key>spriteSourceSize</key>
    <string>{150,150}</string>
    <key>textureRect</key>
    <string>{{0,301},{148,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>avatar_06.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{148,148}</string>
    <key>spriteSourceSize</key>
    <string>{150,150}</string>
    <key>textureRect</key>
    <string>{{302,0},{148,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>avatar_07.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{146,146}</string>
    <key>spriteSourceSize</key>
    <string>{150,150}</string>
    <key>textureRect</key>
    <string>{{600,151},{146,146}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>avatar_08.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{148,147}</string>
    <key>spriteSourceSize</key>
    <string>{150,150}</string>
    <key>textureRect</key>
    <string>{{300,601},{148,147}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>avatar_09.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{146,146}</string>
    <key>spriteSourceSize</key>
    <string>{150,150}</string>
    <key>textureRect</key>
    <string>{{600,299},{146,146}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>avatar_10.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{148,147}</string>
    <key>spriteSourceSize</key>
    <string>{150,150}</string>
    <key>textureRect</key>
    <string>{{150,601},{148,147}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>avatar_11.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{148,148}</string>
    <key>spriteSourceSize</key>
    <string>{150,150}</string>
    <key>textureRect</key>
    <string>{{452,0},{148,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>avatar_12.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{148,148}</string>
    <key>spriteSourceSize</key>
    <string>{150,150}</string>
    <key>textureRect</key>
    <string>{{0,151},{148,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>avatar_13.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{148,148}</string>
    <key>spriteSourceSize</key>
    <string>{150,150}</string>
    <key>textureRect</key>
    <string>{{152,0},{148,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>avatar_14.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{148,148}</string>
    <key>spriteSourceSize</key>
    <string>{150,150}</string>
    <key>textureRect</key>
    <string>{{450,301},{148,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>avatar_15.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{148,148}</string>
    <key>spriteSourceSize</key>
    <string>{150,150}</string>
    <key>textureRect</key>
    <string>{{300,451},{148,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>avatar_16.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{148,148}</string>
    <key>spriteSourceSize</key>
    <string>{150,150}</string>
    <key>textureRect</key>
    <string>{{450,151},{148,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>avatar_17.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{148,148}</string>
    <key>spriteSourceSize</key>
    <string>{150,150}</string>
    <key>textureRect</key>
    <string>{{0,451},{148,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>avatar_18.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{148,148}</string>
    <key>spriteSourceSize</key>
    <string>{150,150}</string>
    <key>textureRect</key>
    <string>{{300,301},{148,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>avatar_19.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{148,148}</string>
    <key>spriteSourceSize</key>
    <string>{150,150}</string>
    <key>textureRect</key>
    <string>{{150,301},{148,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>avatar_20.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{148,148}</string>
    <key>spriteSourceSize</key>
    <string>{150,150}</string>
    <key>textureRect</key>
    <string>{{300,151},{148,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>avatar_default.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{150,149}</string>
    <key>spriteSourceSize</key>
    <string>{150,150}</string>
    <key>textureRect</key>
    <string>{{0,0},{150,149}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>avatar_incognito.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{148,148}</string>
    <key>spriteSourceSize</key>
    <string>{150,150}</string>
    <key>textureRect</key>
    <string>{{150,451},{148,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{748,750}</string>
   <key>textureFileName</key>
   <string>avatar.png</string>
  </dict>
 </dict>
</plist>
