<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bj_21_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{200,264}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{200,264}</string>
   </dict>
   <key>bj_21_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{606,266},{200,264}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{200,264}</string>
   </dict>
   <key>bj_21_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{404,532},{200,264}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{200,264}</string>
   </dict>
   <key>bj_21_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,798},{200,264}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{200,264}</string>
   </dict>
   <key>bj_21_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{606,532},{200,264}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{200,264}</string>
   </dict>
   <key>bj_21_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{808,0},{200,264}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{200,264}</string>
   </dict>
   <key>bj_21_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{202,798},{200,264}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{200,264}</string>
   </dict>
   <key>bj_21_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{808,266},{200,264}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{200,264}</string>
   </dict>
   <key>bj_21_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{404,798},{200,264}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{200,264}</string>
   </dict>
   <key>bj_21_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{808,532},{200,264}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{200,264}</string>
   </dict>
   <key>bj_21_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{606,798},{200,264}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{200,264}</string>
   </dict>
   <key>bj_21_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{202,0},{200,264}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{200,264}</string>
   </dict>
   <key>bj_21_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{1010,0},{200,264}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{200,264}</string>
   </dict>
   <key>bj_21_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{1010,266},{200,264}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{200,264}</string>
   </dict>
   <key>bj_21_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{808,798},{200,264}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{200,264}</string>
   </dict>
   <key>bj_21_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,266},{200,264}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{200,264}</string>
   </dict>
   <key>bj_21_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{202,266},{200,264}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{200,264}</string>
   </dict>
   <key>bj_21_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{404,0},{200,264}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{200,264}</string>
   </dict>
   <key>bj_21_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{404,266},{200,264}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{200,264}</string>
   </dict>
   <key>bj_21_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,532},{200,264}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{200,264}</string>
   </dict>
   <key>bj_21_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{202,532},{200,264}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{200,264}</string>
   </dict>
   <key>bj_21_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{606,0},{200,264}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{200,264}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>bj_21.png</string>
  </dict>
 </dict>
</plist>
