<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>avenger_bangthuong_btn_close.png</key>
   <dict>
    <key>frame</key>
    <string>{{1737,974},{83,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{83,75}</string>
   </dict>
   <key>avenger_bangthuong_btn_left.png</key>
   <dict>
    <key>frame</key>
    <string>{{1663,1473},{119,121}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{119,121}</string>
   </dict>
   <key>avenger_bangthuong_btn_right.png</key>
   <dict>
    <key>frame</key>
    <string>{{1489,1536},{119,121}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{119,121}</string>
   </dict>
   <key>avenger_bg_countdown_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{868,882},{100,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{100,29}</string>
   </dict>
   <key>avenger_bg_countdown_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{868,882},{100,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{100,29}</string>
   </dict>
   <key>avenger_bg_freespins.png</key>
   <dict>
    <key>frame</key>
    <string>{{1594,1070},{172,125}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{172,125}</string>
   </dict>
   <key>avenger_bg_jackpot.png</key>
   <dict>
    <key>frame</key>
    <string>{{1768,1070},{57,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,110}</string>
   </dict>
   <key>avenger_bg_jackpot_count.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,882},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_bg_jackpot_event.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,882},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_bg_mng_reward.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,882},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_bg_napcoin.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,882},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_bg_play_trial.png</key>
   <dict>
    <key>frame</key>
    <string>{{1218,1602},{233,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{233,66}</string>
   </dict>
   <key>avenger_bg_slots.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{1062,464}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1062,464}</string>
   </dict>
   <key>avenger_bg_slots_fg.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,882},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_bg_so_dong.png</key>
   <dict>
    <key>frame</key>
    <string>{{1522,0},{283,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{283,88}</string>
   </dict>
   <key>avenger_bg_so_phong.png</key>
   <dict>
    <key>frame</key>
    <string>{{1594,1197},{189,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{189,94}</string>
   </dict>
   <key>avenger_bg_thongtin.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,882},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_bottom.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,949},{1294,119}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1294,119}</string>
   </dict>
   <key>avenger_btn_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1064,306},{398,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{398,98}</string>
   </dict>
   <key>avenger_btn_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,466},{250,414}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{250,414}</string>
   </dict>
   <key>avenger_btn_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,466},{250,414}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{250,414}</string>
   </dict>
   <key>avenger_btn_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,466},{250,414}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{250,414}</string>
   </dict>
   <key>avenger_btn_back.png</key>
   <dict>
    <key>frame</key>
    <string>{{1489,1308},{172,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{172,112}</string>
   </dict>
   <key>avenger_btn_back_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1218,1308},{269,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{269,102}</string>
   </dict>
   <key>avenger_btn_bangthuong.png</key>
   <dict>
    <key>frame</key>
    <string>{{1464,306},{111,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{111,96}</string>
   </dict>
   <key>avenger_btn_dung.png</key>
   <dict>
    <key>frame</key>
    <string>{{1064,99},{205,205}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{205,205}</string>
   </dict>
   <key>avenger_btn_lsgd.png</key>
   <dict>
    <key>frame</key>
    <string>{{1061,466},{1,1}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1,1}</string>
   </dict>
   <key>avenger_btn_naptien.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,882},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_btn_quay.png</key>
   <dict>
    <key>frame</key>
    <string>{{919,1505},{255,108}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{255,108}</string>
   </dict>
   <key>avenger_btn_settings.png</key>
   <dict>
    <key>frame</key>
    <string>{{1489,1422},{171,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{171,112}</string>
   </dict>
   <key>avenger_btn_settings_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1064,780},{270,102}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{270,102}</string>
   </dict>
   <key>avenger_btn_sieutoc.png</key>
   <dict>
    <key>frame</key>
    <string>{{1663,1596},{130,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{130,68}</string>
   </dict>
   <key>avenger_btn_sieutoc2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1645,486},{130,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{130,68}</string>
   </dict>
   <key>avenger_btn_vinhdanh.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,882},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_btn_x2.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,882},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_coin.png</key>
   <dict>
    <key>frame</key>
    <string>{{970,882},{20,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{20,36}</string>
   </dict>
   <key>avenger_icon_hu.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,882},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_line_numb_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1737,767},{86,83}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{86,83}</string>
   </dict>
   <key>avenger_line_numb_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1737,767},{86,83}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{86,83}</string>
   </dict>
   <key>avenger_mng_bg_thongbao.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,466},{807,481}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{807,481}</string>
   </dict>
   <key>avenger_mng_btn_close.png</key>
   <dict>
    <key>frame</key>
    <string>{{1737,974},{83,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{83,75}</string>
   </dict>
   <key>avenger_multi_rate_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,882},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_nohu.png</key>
   <dict>
    <key>frame</key>
    <string>{{1336,780},{57,273}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,273}</string>
   </dict>
   <key>avenger_nohu_light.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,882},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_numb_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{868,913},{30,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{30,30}</string>
   </dict>
   <key>avenger_setting_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,466},{807,481}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{807,481}</string>
   </dict>
   <key>avenger_setting_btn_close.png</key>
   <dict>
    <key>frame</key>
    <string>{{1737,974},{83,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{83,75}</string>
   </dict>
   <key>avenger_symbol_1_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{557,1495},{160,160}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{160,160}</string>
   </dict>
   <key>avenger_symbol_1_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{561,1308},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_1_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{187,1495},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_1_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1495},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_1_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{1438,406},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_1_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{1458,99},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_1_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{1251,593},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_1_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{374,1495},{181,175}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{181,175}</string>
   </dict>
   <key>avenger_symbol_1_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1251,406},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_1_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1064,593},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_1_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1271,99},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_1_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{1064,406},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_1_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{187,1308},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_1_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{374,1308},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_1_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1308},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_2_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{557,1495},{160,160}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{160,160}</string>
   </dict>
   <key>avenger_symbol_2_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{561,1308},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_2_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{187,1495},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_2_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1495},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_2_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{1438,406},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_2_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{1458,99},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_2_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{1251,593},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_2_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{374,1495},{181,175}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{181,175}</string>
   </dict>
   <key>avenger_symbol_2_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1251,406},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_2_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1064,593},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_2_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1271,99},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_2_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{1064,406},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_2_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{187,1308},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_2_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{374,1308},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_2_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1308},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_3_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{557,1495},{160,160}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{160,160}</string>
   </dict>
   <key>avenger_symbol_3_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{561,1308},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_3_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{187,1495},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_3_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1495},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_3_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{1438,406},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_3_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{1458,99},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_3_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{1251,593},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_3_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{374,1495},{181,175}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{181,175}</string>
   </dict>
   <key>avenger_symbol_3_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1251,406},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_3_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1064,593},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_3_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1271,99},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_3_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{1064,406},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_3_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{187,1308},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_3_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{374,1308},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_3_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1308},{185,185}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>avenger_symbol_blur_1_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1584,797},{144,190}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{144,190}</string>
   </dict>
   <key>avenger_symbol_blur_1_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1645,290},{144,194}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{144,194}</string>
   </dict>
   <key>avenger_symbol_blur_1_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{748,1308},{169,193}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{169,193}</string>
   </dict>
   <key>avenger_symbol_blur_1_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{1438,797},{144,203}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{144,203}</string>
   </dict>
   <key>avenger_symbol_blur_1_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{1364,1412},{109,187}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{109,187}</string>
   </dict>
   <key>avenger_symbol_blur_1_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{1438,593},{151,202}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{151,202}</string>
   </dict>
   <key>avenger_symbol_blur_1_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{748,1503},{144,146}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{144,146}</string>
   </dict>
   <key>avenger_symbol_blur_1_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1663,1308},{114,163}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{114,163}</string>
   </dict>
   <key>avenger_symbol_blur_1_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1591,593},{144,190}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{144,190}</string>
   </dict>
   <key>avenger_symbol_blur_1_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1448,1070},{144,189}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{144,189}</string>
   </dict>
   <key>avenger_symbol_blur_1_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1072,1308},{144,192}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{144,192}</string>
   </dict>
   <key>avenger_symbol_blur_1_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{1645,99},{150,189}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,189}</string>
   </dict>
   <key>avenger_symbol_blur_1_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{919,1308},{151,195}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{151,195}</string>
   </dict>
   <key>avenger_symbol_blur_1_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{1299,1070},{147,190}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{147,190}</string>
   </dict>
   <key>avenger_symbol_blur_1_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{1218,1412},{144,188}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{144,188}</string>
   </dict>
   <key>avenger_symbol_blur_2_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1584,797},{144,190}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{144,190}</string>
   </dict>
   <key>avenger_symbol_blur_2_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1645,290},{144,194}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{144,194}</string>
   </dict>
   <key>avenger_symbol_blur_2_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{748,1308},{169,193}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{169,193}</string>
   </dict>
   <key>avenger_symbol_blur_2_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{1438,797},{144,203}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{144,203}</string>
   </dict>
   <key>avenger_symbol_blur_2_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{1364,1412},{109,187}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{109,187}</string>
   </dict>
   <key>avenger_symbol_blur_2_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{1438,593},{151,202}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{151,202}</string>
   </dict>
   <key>avenger_symbol_blur_2_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{748,1503},{144,146}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{144,146}</string>
   </dict>
   <key>avenger_symbol_blur_2_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1663,1308},{114,163}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{114,163}</string>
   </dict>
   <key>avenger_symbol_blur_2_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1591,593},{144,190}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{144,190}</string>
   </dict>
   <key>avenger_symbol_blur_2_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1448,1070},{144,189}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{144,189}</string>
   </dict>
   <key>avenger_symbol_blur_2_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1072,1308},{144,192}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{144,192}</string>
   </dict>
   <key>avenger_symbol_blur_2_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{1645,99},{150,189}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,189}</string>
   </dict>
   <key>avenger_symbol_blur_2_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{919,1308},{151,195}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{151,195}</string>
   </dict>
   <key>avenger_symbol_blur_2_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{1299,1070},{147,190}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{147,190}</string>
   </dict>
   <key>avenger_symbol_blur_2_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{1218,1412},{144,188}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{144,188}</string>
   </dict>
   <key>avenger_symbol_blur_3_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1584,797},{144,190}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{144,190}</string>
   </dict>
   <key>avenger_symbol_blur_3_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1645,290},{144,194}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{144,194}</string>
   </dict>
   <key>avenger_symbol_blur_3_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{748,1308},{169,193}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{169,193}</string>
   </dict>
   <key>avenger_symbol_blur_3_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{1438,797},{144,203}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{144,203}</string>
   </dict>
   <key>avenger_symbol_blur_3_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{1364,1412},{109,187}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{109,187}</string>
   </dict>
   <key>avenger_symbol_blur_3_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{1438,593},{151,202}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{151,202}</string>
   </dict>
   <key>avenger_symbol_blur_3_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{748,1503},{144,146}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{144,146}</string>
   </dict>
   <key>avenger_symbol_blur_3_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1663,1308},{114,163}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{114,163}</string>
   </dict>
   <key>avenger_symbol_blur_3_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1591,593},{144,190}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{144,190}</string>
   </dict>
   <key>avenger_symbol_blur_3_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1448,1070},{144,189}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{144,189}</string>
   </dict>
   <key>avenger_symbol_blur_3_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1072,1308},{144,192}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{144,192}</string>
   </dict>
   <key>avenger_symbol_blur_3_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{1645,99},{150,189}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,189}</string>
   </dict>
   <key>avenger_symbol_blur_3_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{919,1308},{151,195}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{151,195}</string>
   </dict>
   <key>avenger_symbol_blur_3_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{1299,1070},{147,190}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{147,190}</string>
   </dict>
   <key>avenger_symbol_blur_3_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{1218,1412},{144,188}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{144,188}</string>
   </dict>
   <key>avenger_thanglon.png</key>
   <dict>
    <key>frame</key>
    <string>{{1737,852},{57,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,120}</string>
   </dict>
   <key>avenger_tick.png</key>
   <dict>
    <key>frame</key>
    <string>{{1737,593},{93,85}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{93,85}</string>
   </dict>
   <key>avenger_top_0 copy.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1070},{1297,117}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1297,117}</string>
   </dict>
   <key>avenger_top_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1189},{1297,117}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1297,117}</string>
   </dict>
   <key>avenger_top_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,882},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_top_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,882},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_top_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,882},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_top_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,882},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_top_free.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,882},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_trunggold.png</key>
   <dict>
    <key>frame</key>
    <string>{{1438,1002},{294,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{294,64}</string>
   </dict>
   <key>avenger_tuquay_progress.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,882},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_untick.png</key>
   <dict>
    <key>frame</key>
    <string>{{1737,680},{93,85}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{93,85}</string>
   </dict>
   <key>avenger_win_bg_freespin.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,882},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_win_bg_gold.png</key>
   <dict>
    <key>frame</key>
    <string>{{1064,0},{456,97}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{456,97}</string>
   </dict>
   <key>avenger_win_free_spin.png</key>
   <dict>
    <key>frame</key>
    <string>{{1577,306},{57,93}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,93}</string>
   </dict>
   <key>avenger_win_jackpot_bg_gold.png</key>
   <dict>
    <key>frame</key>
    <string>{{1064,0},{456,97}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{456,97}</string>
   </dict>
   <key>avenger_win_light.png</key>
   <dict>
    <key>frame</key>
    <string>{{809,882},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>slots_avenger.png</string>
  </dict>
 </dict>
</plist>
