<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>avenger_bangthuong_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{1091,576}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1091,576}</string>
   </dict>
   <key>avenger_bangthuong_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,578},{1091,576}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1091,576}</string>
   </dict>
   <key>avenger_bangthuong_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1093,0},{1091,576}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1091,576}</string>
   </dict>
   <key>avenger_bangthuong_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1156},{1091,576}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1091,576}</string>
   </dict>
   <key>avenger_bangthuong_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1093,578},{1091,576}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1091,576}</string>
   </dict>
   <key>avenger_bangthuong_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{1093,1156},{1091,576}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1091,576}</string>
   </dict>
   <key>avenger_icon_amthanh.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1734},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_icon_bangvinhdanh.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1734},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_icon_lsgd.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1734},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_icon_lshu.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1734},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>slots_avenger_bangthuong.png</string>
  </dict>
 </dict>
</plist>
