<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>avenger_bg_mng_text_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{122,809},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_bg_mng_text_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{122,809},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_mng_bg_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1282,722},{57,300}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,300}</string>
   </dict>
   <key>avenger_mng_bg_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{1559,720}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1559,720}</string>
   </dict>
   <key>avenger_mng_btn_item_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,809},{120,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{120,140}</string>
   </dict>
   <key>avenger_mng_btn_item_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,809},{120,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{120,140}</string>
   </dict>
   <key>avenger_mng_btn_item_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,809},{120,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{120,140}</string>
   </dict>
   <key>avenger_mng_btn_item_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,809},{120,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{120,140}</string>
   </dict>
   <key>avenger_mng_btn_item_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,809},{120,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{120,140}</string>
   </dict>
   <key>avenger_mng_btn_item_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,809},{120,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{120,140}</string>
   </dict>
   <key>avenger_mng_btn_start.png</key>
   <dict>
    <key>frame</key>
    <string>{{122,809},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_mng_rw_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{122,809},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_mng_rw_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{122,809},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_mng_rw_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{122,809},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_mng_rw_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{122,809},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_mng_rw_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{122,809},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_top_bg_minigame.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,722},{1280,85}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1280,85}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>slots_avenger_minigame.png</string>
  </dict>
 </dict>
</plist>
