<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>avenger_bg_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{1559,720}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1559,720}</string>
   </dict>
   <key>avenger_bg_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,722},{1559,720}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1559,720}</string>
   </dict>
   <key>avenger_line_chooser_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1444},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_line_chooser_btn_bochon.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1444},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_line_chooser_btn_bochon2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1444},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_line_chooser_btn_dongchan.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1444},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_line_chooser_btn_dongchan2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1444},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_line_chooser_btn_dongle.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1444},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_line_chooser_btn_dongle2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1444},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_line_chooser_btn_tatca.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1444},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_line_chooser_btn_tatca2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1444},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>avenger_line_chooser_close_btn.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1444},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>slots_avenger_linechooser.png</string>
  </dict>
 </dict>
</plist>
